  <div id="adv-search" class="adv-search">
      <form id="rules-form" class="advanced" action="../search" method="get">
        
        <fieldset id="query_parts">
        <span class="label">Include {{ form.operator }}:</span>
        {% for form in query_formset.forms %}
            <div id="query_chunk_{{ forloop.counter0 }}" class="query_chunk">
            {% if form.non_field_errors %}
              {{ form.non_field_errors }}
            {% endif %}
            {{ form.field }}
            {{ form.qualifier }}
            {{ form.value }}
            <a id="remove_0" class="remove_btn" onclick="false" href="#" name="remove_0">
                <img title="Remove" src="{{ STATIC_URL }}admin/img/icon_deletelink.gif" alt="Remove">
            </a>
            </div>
            <a id="add_query_part" class="addlink addParamBtn" href="#">Add another</a>
        {% endfor %}
        </fieldset>
        
        <fieldset id="not_parts">
        <span class="label">but do not include: </span>
            {% for form in not_formset.forms %}
            <div id="not_chunk_{{ forloop.counter0 }}" class="not_chunk">
            {% if form.non_field_errors %}
              {{ form.non_field_errors }}
            {% endif %}
            {{ form.field }}
            {{ form.qualifier }}
            {{ form.value }}
            <a id="not_remove_0" class="not_remove_btn" onclick="false" href="#" name="not_remove_0">
                <img title="Remove" src="{{ STATIC_URL }}admin/img/icon_deletelink.gif" alt="Remove">
            </a>
            </div>
            <a id="add_not_part" class="addlink addParamBtn" href="#">Add another</a>
        {% endfor %}
        </fieldset>
      </form>
      
      <form id="advanced-search-form" class="advanced" action="../search" method="get">
        <fieldset id="not_parts">
        <span class="label">filter results by:</span>
            <table id="advanced-search-table" class="clean">
                <tr>
                    <td>Time:</td>
                    <td>{{ form.qdr }}</td>
                </tr>
                <tr id="custom_date">
                        <td>Start:</td><td><input id="id_start_date" name="start_date" class="defaultText" type="text" size="15" title="YYYY-MM-DD"></td><td>End:</td><td><input id="id_end_date" name="end_date" class="defaultText" type="text" size="15" title="YYYY-MM-DD"></td>
                </tr>
                <tr>
                    <td>List:</td>
                    <td><input id="email_list_search" class="defaultText" type="text" size="30" title="Start typing name and pick from list"></td>
                </tr>
                <input type="hidden" name="email_list" id="email_list" />
            </table>
            
            <fieldset id="list-fieldset2" class="list-fieldset">
              <legend>Lists to Search</legend>
              <ul id="email_list_list"></ul>
            </fieldset>
        
        </fieldset>
      
        <br />
        <hr />
      
        <input id="id_q" type="text" name="q" readonly="readonly">
        
        <div class="button-group">
          <ul>
            <li><button type="submit">Search</button></li>
          </ul>
        </div> <!-- button-group -->
      </form>
  </div> <!-- advanced-search-->