<nav class="navbar navbar-default navbar-msg-detail">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {# <a class="navbar-brand" href="#">Brand</a> #}
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li title="Previous by date">
          {% if previous_in_list %}
            <a id="previous-in-list" href="{{ previous_in_list.get_absolute_url }}">
          {% else %}
            <a id="previous-in-list" class="disabled">
          {% endif %}
              <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </a>
        </li>
        <li title="Date Index"><a id="date-index" href="{{ msg.list_by_date_url }}">Date</a></li>
        <li title="Next by date">
          {% if next_in_list %}
            <a id="next-in-list" href="{{ next_in_list.get_absolute_url }}">
          {% else %}
            <a id="next-in-list" class="disabled">
          {% endif %}
          <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
        </li>
        <li title="Previous in thread">
          {% if previous_in_thread %}
            <a id="previous-in-thread" href="{{ previous_in_thread.get_absolute_url }}">
          {% else %}
            <a id="previous-in-thread" class="disabled">
          {% endif %}
          <i class="fa fa-chevron-left" aria-hidden="true"></i></a>
        </li>
        <li title="Thread Index"><a id="thread-index" href="{{ msg.list_by_thread_url }}">Thread</a></li>
        <li title="Next in thread">
          {% if next_in_thread %}
            <a id="next-in-thread" href="{{ next_in_thread.get_absolute_url }}">
          {% else %}
            <a id="next-in-thread" class="disabled">
          {% endif %}
          <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
        </li>
        {% if queryid %}
          <li title="Previous in search results">
            {% if previous_in_search %}
              <a id="previous-in-serach" href="{{ previous_in_search.get_absolute_url }}/?qid={{ queryid }}">
            {% else %}
              <a id="previous-in-serach" class="disabled">
            {% endif %}
            <i class="fa fa-chevron-left" aria-hidden="true"></i></a>
          </li>
          <li title="Return to search"><a id="return-to-search" href="{{ search_url }}">Search</a></li>
          <li title="Next in search results">
            {% if next_in_search %}
              <a id="next-in-serach" href="{{ next_in_search.get_absolute_url }}/?qid={{ queryid }}">
            {% else %}
              <a id="next-in-serach" class="disabled">
            {% endif %}
            <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
          </li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>