<table id="msg-table" class="no-zebra">
            
                <tr>
                    <td>03/16/2007</td>
                    <!-- <td><a href="/archive/detail/oiRYzl_mrIDKBVZysqVU-gjC4h0=/">[16NG]
	I-DACTION:draft-ietf-16ng-ip-over-ethernet-over-802.16-01.txt </a></td> -->
                    <td>[16NG]
	I-DACTION:draft-ietf-16ng-ip-over-ethernet-over-802.16-01.txt </td>
                    <td>Burcak.Beser at telsima.com (Burcak Beser)</td>
                    <td>16ng</td>
                    <td class="hidden">235</td>
                </tr>
            
                <tr>
                    <td>12/18/2006</td>
                    <!-- <td><a href="/archive/detail/yJfioJLQlIXwlRxMz26GtYcguKo=/">Liaison? (was: [16NG] Network entry procedure for IPv6 over IP CS)</a></td> -->
                    <td>Liaison? (was: [16NG] Network entry procedure for IPv6 over IP CS)</td>
                    <td>alexandru.petrescu at motorola.com (Alexandru Petrescu)</td>
                    <td>16ng</td>
                    <td class="hidden">319</td>
                </tr>
            
                <tr>
                    <td>05/03/2007</td>
                    <!-- <td><a href="/archive/detail/zTNadZQkRcMLObbl6DjJb7z3zgQ=/">[16NG] DAD in IEEE802.16</a></td> -->
                    <td>[16NG] DAD in IEEE802.16</td>
                    <td>xiayangsong at huawei.com (Frank Xia)</td>
                    <td>16ng</td>
                    <td class="hidden">530</td>
                </tr>
            
                <tr>
                    <td>12/18/2006</td>
                    <!-- <td><a href="/archive/detail/gO4kiiNlKoAV7POX-XHFP9R03Y4=/">Liaison? (was: [16NG] Network entry procedure for IPv6 over IP
	CS)</a></td> -->
                    <td>Liaison? (was: [16NG] Network entry procedure for IPv6 over IP
	CS)</td>
                    <td>soohong.park at samsung.com (Daniel Park)</td>
                    <td>16ng</td>
                    <td class="hidden">323</td>
                </tr>
            
                <tr>
                    <td>03/18/2007</td>
                    <!-- <td><a href="/archive/detail/YdYCTm3wQ-5na5WI7EISnmlAAoY=/">[16NG]I-DACTION:draft-ietf-16ng-ip-over-ethernet-over-802.16-01.txt</a></td> -->
                    <td>[16NG]I-DACTION:draft-ietf-16ng-ip-over-ethernet-over-802.16-01.txt</td>
                    <td>maximilian.riegel at siemens.com (Riegel, Maximilian)</td>
                    <td>16ng</td>
                    <td class="hidden">236</td>
                </tr>
            
                <tr>
                    <td>09/07/2007</td>
                    <!-- <td><a href="/archive/detail/tZc5TBGbZ4OGb7UNksFlBsjwoPA=/">[16NG] WGLC: draft-ietf-16ng-ip-over-ethernet-over-802.16-02</a></td> -->
                    <td>[16NG] WGLC: draft-ietf-16ng-ip-over-ethernet-over-802.16-02</td>
                    <td>Burcak.Beser at telsima.com (Burcak Beser)</td>
                    <td>16ng</td>
                    <td class="hidden">611</td>
                </tr>
            
                <tr>
                    <td>10/06/2008</td>
                    <!-- <td><a href="/archive/detail/9lJXSypAI8KzlMY3kFg5vGjLUkM=/">[CCAMP] [PWE3] [mpls-tp] FW: Changes to PW ACH
	Channel	Typeallocationpolicy</a></td> -->
                    <td>[CCAMP] [PWE3] [mpls-tp] FW: Changes to PW ACH
	Channel	Typeallocationpolicy</td>
                    <td>Alexander.Vainshtein at ecitele.com (Alexander Vainshtein)</td>
                    <td>ccamp</td>
                    <td class="hidden">755</td>
                </tr>
            
                <tr>
                    <td>05/03/2007</td>
                    <!-- <td><a href="/archive/detail/Ug4UtsPfxR8bpK8irM0JzWLYmKg=/">[16NG] DAD in IEEE802.16</a></td> -->
                    <td>[16NG] DAD in IEEE802.16</td>
                    <td>gabriel_montenegro_2000 at yahoo.com (gabriel montenegro)</td>
                    <td>16ng</td>
                    <td class="hidden">532</td>
                </tr>
            
                <tr>
                    <td>02/12/2008</td>
                    <!-- <td><a href="/archive/detail/u_gaHv2K94OG-xAEESVuZ_z7upQ=/">[16NG] RFC 5121 on Transmission of IPv6 via the IPv6 Convergence
	Sublayer over IEEE 802.16 Networks</a></td> -->
                    <td>[16NG] RFC 5121 on Transmission of IPv6 via the IPv6 Convergence
	Sublayer over IEEE 802.16 Networks</td>
                    <td>rfc-editor at rfc-editor.org (rfc-editor at rfc-editor.org)</td>
                    <td>16ng</td>
                    <td class="hidden">586</td>
                </tr>
            
                <tr>
                    <td>02/12/2008</td>
                    <!-- <td><a href="/archive/detail/u_gaHv2K94OG-xAEESVuZ_z7upQ=/">[16NG] RFC 5121 on Transmission of IPv6 via the IPv6 Convergence
	Sublayer	over IEEE 802.16 Networks</a></td> -->
                    <td>[16NG] RFC 5121 on Transmission of IPv6 via the IPv6 Convergence
	Sublayer	over IEEE 802.16 Networks</td>
                    <td>rfc-editor at rfc-editor.org (rfc-editor at rfc-editor.org)</td>
                    <td>16ng</td>
                    <td class="hidden">587</td>
                </tr>
            
                <tr>
                    <td>03/18/2007</td>
                    <!-- <td><a href="/archive/detail/7mK79jbFpAmk2CzTaQsSB740OxM=/">[16NG]I-DACTION:draft-ietf-16ng-ip-over-ethernet-over-802.16-01.txt</a></td> -->
                    <td>[16NG]I-DACTION:draft-ietf-16ng-ip-over-ethernet-over-802.16-01.txt</td>
                    <td>Burcak.Beser at telsima.com (Burcak Beser)</td>
                    <td>16ng</td>
                    <td class="hidden">240</td>
                </tr>
            
                <tr>
                    <td>05/03/2007</td>
                    <!-- <td><a href="/archive/detail/ihHtdLKvJRbDG_eER8x475fyfCU=/">[16NG] DAD in IEEE802.16</a></td> -->
                    <td>[16NG] DAD in IEEE802.16</td>
                    <td>xiayangsong at huawei.com (Frank Xia)</td>
                    <td>16ng</td>
                    <td class="hidden">533</td>
                </tr>
            
                <tr>
                    <td>05/03/2007</td>
                    <!-- <td><a href="/archive/detail/nJAivFzOHo36MNw2UmiN7DpQY5A=/">[16NG] DAD in IEEE802.16</a></td> -->
                    <td>[16NG] DAD in IEEE802.16</td>
                    <td>behcetsarikaya at yahoo.com (Behcet Sarikaya)</td>
                    <td>16ng</td>
                    <td class="hidden">534</td>
                </tr>
            
                <tr>
                    <td>03/23/2007</td>
                    <!-- <td><a href="/archive/detail/dbdY54E-2o-RDwljri2PqlFdCXE=/">[16NG]I-DACTION:draft-ietf-16ng-ip-over-ethernet-over-802.16-01.txt</a></td> -->
                    <td>[16NG]I-DACTION:draft-ietf-16ng-ip-over-ethernet-over-802.16-01.txt</td>
                    <td>maximilian.riegel at siemens.com (Riegel, Maximilian)</td>
                    <td>16ng</td>
                    <td class="hidden">251</td>
                </tr>
            
                <tr>
                    <td>05/03/2007</td>
                    <!-- <td><a href="/archive/detail/yuQyRWM5WbS9wB6WPzhkcFf16JE=/">[16NG] DAD in IEEE802.16</a></td> -->
                    <td>[16NG] DAD in IEEE802.16</td>
                    <td>gabriel_montenegro_2000 at yahoo.com (gabriel montenegro)</td>
                    <td>16ng</td>
                    <td class="hidden">535</td>
                </tr>
            
                <tr>
                    <td>05/03/2007</td>
                    <!-- <td><a href="/archive/detail/VHwotUr9oOm2HX-3Ce8EtXWRNI0=/">[16NG] DAD in IEEE802.16</a></td> -->
                    <td>[16NG] DAD in IEEE802.16</td>
                    <td>behcetsarikaya at yahoo.com (Behcet Sarikaya)</td>
                    <td>16ng</td>
                    <td class="hidden">536</td>
                </tr>
            
                <tr>
                    <td>04/02/2007</td>
                    <!-- <td><a href="/archive/detail/F_ShcgR8SUOLinqqbmJRsmVT7DM=/">[16NG]I-DACTION:draft-ietf-16ng-ip-over-ethernet-over-802.16-01.txt</a></td> -->
                    <td>[16NG]I-DACTION:draft-ietf-16ng-ip-over-ethernet-over-802.16-01.txt</td>
                    <td>Burcak.Beser at telsima.com (Burcak Beser)</td>
                    <td>16ng</td>
                    <td class="hidden">166</td>
                </tr>
            
                <tr>
                    <td>05/03/2007</td>
                    <!-- <td><a href="/archive/detail/_U3C-jd6bRiPlNCZFBVAabaIn8w=/">[16NG] DAD in IEEE802.16</a></td> -->
                    <td>[16NG] DAD in IEEE802.16</td>
                    <td>behcetsarikaya at yahoo.com (Behcet Sarikaya)</td>
                    <td>16ng</td>
                    <td class="hidden">538</td>
                </tr>
            
                <tr>
                    <td>01/29/2007</td>
                    <!-- <td><a href="/archive/detail/mzK4AEAB8P8xnb3y2niO8G6O4Zo=/">[16NG] Review draft-ietf-v6ops-802-16-deployment-scenarios-02</a></td> -->
                    <td>[16NG] Review draft-ietf-v6ops-802-16-deployment-scenarios-02</td>
                    <td>bmsousa at dei.uc.pt (Bruno Miguel Sousa)</td>
                    <td>16ng</td>
                    <td class="hidden">502</td>
                </tr>
            
                <tr>
                    <td>09/07/2007</td>
                    <!-- <td><a href="/archive/detail/ZItnfgh3o--f3FCHakblVhzUgs0=/">[16NG] WGLC: draft-ietf-16ng-ip-over-ethernet-over-802.16-02</a></td> -->
                    <td>[16NG] WGLC: draft-ietf-16ng-ip-over-ethernet-over-802.16-02</td>
                    <td>maximilian.riegel at nsn.com (Riegel, Maximilian)</td>
                    <td>16ng</td>
                    <td class="hidden">614</td>
                </tr>
            
            </table>