  <div id="basic-search">
      <form name="search-form" id="id_search_form" action="" method="get">
        <div id="radio">
            <input type="radio" id="radio_date" name="sort" value="date" {% if not thread_sorted %}checked{% endif %} /><label for="radio_date">Date</label>
            <input type="radio" id="radio_thread" name="sort" value="thread" {% if thread_sorted %}checked{% endif %} /><label for="radio_thread">Thread</label>
        </div>
        {{ form.email_list }}
        {{ form.so }}
        {{ form.q }}
        <!-- <input class="hidden-submit" type="submit" value="Search" /> -->
        <!-- <button id="" class="unsorted small-button" onclick="window.history.back()">Change Search</button> -->
        <!-- <button id="search-button" onclick="window.history.back()">Search</button> -->
        <button id="search-button" type="submit">Search</button>
        <button id="export-button">Export</button>
        <ul id="export-options" class="ui-widget-content" tabindex="-1">
            <li><a href="{{ export_mbox }}">Mbox</a></li>
            <li><a href="{{ export_maildir }}">Maildir</a></li>
        </ul>
      </form>
  </div> <!-- basic-search -->
