

    {% if next_page %}
        [<a class="next" href="{{ next_page }}">Newer Messages</a>]
    {% else %}
        [Newer Messages]
    {% endif %}

    {% if previous_page %}
        [<a class="previous" href="{{ previous_page }}">Older Messages</a>]
    {% else %}
        [Older Messages]
    {% endif %}

    {% if group_by_thread %}
      [<a href="{% url "archive_browse_static" list_name=email_list.name prefix="" %}">Date Index</a>]
    {% else %}
      [<a href="{% url "archive_browse_static" list_name=email_list.name prefix="thread" %}">Thread Index</a>]
    {% endif %}

    <br>
    <hr>
