

    {% if page.has_next %}
        {% if page.next_page_number == page.paginator.num_pages %}
            [<a href="{{ prefix }}list.html">Newer Messages</a>]
        {% else %}
            [<a href="{{ prefix }}{{ page.next_page_number|stringformat:"04d" }}.html">[Newer Messages]</a>]
        {% endif %}
    {% else %}
        [Newer Messages]
    {% endif %}

    {% if page.has_previous %}
        [<a href="{{ prefix }}{{ page.previous_page_number|stringformat:"04d" }}.html">[Older Messages]</a>]
    {% else %}
        [Older Messages]
    {% endif %}

    {% if prefix == "mail" %}
      [<a href="threadlist.html">Thread Index</a>]
    {% else %}
      [<a href="maillist.html">Date Index</a>]
    {% endif %}

    <br>
    <hr>
