{% extends 'base.html' %}

{% load archive_extras %}

{% block extrahead %}
<script type="text/javascript" src="{{ STATIC_URL }}js/search.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/splitter.js"></script>
{% endblock %}

{% block title %}Mail Archive{% endblock %}

{% block content %}

    <!-- use context "form" to re-display search form -->
  
    <div id="msg-headers"> 
        <div id="sort-header">
          Sort By:
          <button id="sort-date-button">Date</button>
          <button id="sort-from-button">From</button>
        </div> <!-- sort_header -->
        
        <div id="search-header">
          {% include "includes/search_box.html" %}
        </div> <!-- search-header -->        
    </div> <!-- msg-headers -->
        
    <div id="msg-panes">    
        <div id="list-pane">
            <div id="msg-list">
                <table id="msg-table" class="no-zebra">
                {% for result in page.object_list %}
                    <tr>
                        <td>{{ result.object.date|date:"m/d/Y" }}</td>
                        <!-- <td><a href="{% url archive_detail id=result.object.hashcode %}">{{ result.object.subject }}</a></td> -->
                        <td>{{ result.object.subject }}</td>
                        <td>{{ result.object.frm }}</td>
                        <td>{{ result.object.email_list }}</td>
                        <td class="hidden">{{ result.object.id }}</td>
                    </tr>
                {% empty %}
                    <p>No results found.</p>
                {% endfor %}
                </table>
            </div> <!-- msg-list -->
            
            <div id="msg-list-controls">
                {# Showing {{ page.object_list|length }} of {{ page.paginator.count }} #}
                {{ page.paginator.count }} Messages
    
                {% if page.has_previous or page.has_next %}
                    <span class="right">
                        {{ page|cut:"<"|cut:">" }}&nbsp;
                        {% if page.has_previous %}<a href="{% append_to_get page=page.previous_page_number %}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                        |
                        {% if page.has_next %}<a href="{% append_to_get page=page.next_page_number %}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                    </span>
                {% endif %}
            </div> <!-- msg-list-controls -->
        </div> <!-- list-pane -->
        <div id="splitter-pane" class="draggable"></div>
        <div id="view-pane"></div>
    </div> <!-- msg-panes -->
{% endblock %}
