.*.swp
.DS_store
.pytest_cache
.cache
*.o
*.lo
*.la
*.al
*.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.rej
*~
*.#*
/.env
/.pytest_cache
/.parcel-cache
/docker/docker-compose.extend-custom.yml
/env
/static/
/venv/
node_modules/
__pycache__