# -*- conf-mode -*-
#
beautifulsoup4==4.13.5
boto3>=1.39.15
boto3-stubs[s3]>=1.39.15
botocore>=1.39.15
celery==5.5.3
cloudflare==4.3.1
cryptography==45.0.7
Django>=5.2.5,<6.0
django-admin-rangefilter>=0.13.3
django-appconf==1.1.0
django-bootstrap5==25.2
django-csp==4.0
django-celery-beat==2.8.1
django-debug-toolbar==6.0.0
django-environ==0.12.0
django-storages==1.14.6
elasticsearch>=7.0.0,<8.0.0
elasticsearch-dsl>=7.0.0,<8.0.0
factory-boy>=2.6.0
flower>=1.0.0
gunicorn==23.0.0
html5lib==1.1
jedi==0.19.2
jsonschema[format]>=4.2.1
lxml-html-clean==0.4.2
mailmanclient==3.3.5
mock>=2.0.0
mozilla-django-oidc==4.0.1
passlib==1.7.4
psycopg==3.2.10
pymemcache==4.0.0
python-json-logger>=2.0.7
pyopenssl
pyquery
pytest
pytest-cov>=2.5.1
pytest-flakes
pytest-pycodestyle
pytest-django>=2.9.1
python-dateutil>=2.2
scout-apm>=2.23.0
selenium
