# -*- conf-mode -*-
# NOTE: Django 2.0, Celery 5.0 only support Python 3
setuptools>=18.5                        # Require this first, to prevent later errors
#
#bs4			# 4.1.3 was installed
beautifulsoup4
celery>=4.0,<5.0
cloudflare>=2.1.0
cryptography
Django>=1.11,<2.0
django-appconf		# 0.6 was installed
django-bootstrap4
django-debug-toolbar>=1.7
django-widget-tweaks>=1.3
django-haystack==2.8.1
django-haystack-elasticsearch
elasticsearch>=6.0.0,<7.0.0
factory-boy>=2.6.0
flower
html5lib
lxml>=3.3.5
mysqlclient
mock>=2.0.0
pyopenssl
pyquery>=1.2.13
pytest>=3.0.0,<4.0.0
pytest-cov>=2.5.1
pytest-flakes
pytest-pycodestyle
pytest-django>=2.9.1
python-dateutil>=2.2
python-memcached>=1.48
selenium
six
