# -*- conf-mode -*-
# NOTE: Django 2.0, Celery 5.0 only support Python 3
#
setuptools==53.0.0         # Require this first, to prevent later errors
#bs4			# 4.1.3 was installed
beautifulsoup4
celery==5.0.2
cloudflare==2.8.15
cryptography
Django>=2.0,<3.0
django-appconf		# 0.6 was installed
django-bootstrap4
django-csp==3.6
django-debug-toolbar>=1.7
django-environ
django-haystack==2.8.1
django-haystack-elasticsearch
django-referrer-policy>=1.0
django-widget-tweaks>=1.3
elasticsearch>=6.0.0,<7.0.0
factory-boy>=2.6.0
flower
html5lib
lxml>=3.3.5
# mysqlclient==1.3.14     # stay with this until on Django 2
mysqlclient
mock>=2.0.0
mozilla-django-oidc==1.2.4
passlib
pyopenssl
pyquery
pytest
pytest-cov>=2.5.1
pytest-flakes
pytest-pycodestyle
pytest-django>=2.9.1
python-dateutil>=2.2
python-memcached>=1.48
selenium
six
