<!DOCTYPE html>
<html lang="en-US">
<head>
<title>{% block title %}{% endblock %}</title>

<!--
<link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print">
-->
<link type="text/css" href="{{ STATIC_URL }}css/smoothness/jquery-ui-1.10.3.custom.css" rel="stylesheet" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css" type="text/css">

<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.10.3.custom.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.json-2.3.min.js"></script>


{% block extrastyle %}{% endblock %}

{% block extrahead %}{% endblock %}

{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
</head>

<body>

<!-- Container -->
<div id="container">

    <div id="header"{% if server_mode != "production" %} class="test"{% endif %}>
        <div id="header-text">{% block header %}<a id="logo-link" href="/"><img id="logo" src="{{ STATIC_URL }}/images/ietf-logo-trans-small.png" width="68" height="36" alt="logo">Mail Archive</a>{% endblock %}</div>
        {% if user %}
            <div id="login" class="noprint">
            {% if user.is_authenticated %}
                <span class="pipe">{{ user }}</span>
                <a href="{% url "archive_logout" %}">Sign out</a>
            {% else %}
                <a href="http://{{ request.get_host }}/accounts/login/?next={{request.get_full_path|urlencode}}" rel="nofollow">Sign in</a>
            {% endif %}
            </div>
        {% endif %}
    </div> <!-- header -->

        <!-- Django Messages -->
        {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}


    <!-- Content -->
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <!-- END Content -->

    {% block footer %}
    <div id="footer">
        <p>Email Archive v{{ version_num }}</p>
    </div> <!-- footer -->
    {% endblock %}

</div> <!-- END Container -->

</body>
</html>
