<!DOCTYPE html> {% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Mail Archive{% endblock %}</title>

    {% block prestyle %}{% endblock %}

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.css' %}" type="text/css">

    {% block extrastyle %}{% endblock %}

    <link rel="stylesheet" href="{% static 'mlarchive/css/custom.css' %}" type="text/css">
    
    <script src="https://use.fontawesome.com/616427ed62.js"></script>
    {% block extrahead %}{% endblock %}

    {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>

<body>

<!-- Container -->
<div id="container">

    <header class="navbar navbar-inverse navbar-fixed-top{% if server_mode != 'production' %} navbar-dev{% endif %}">
        <div class="container-fluid">
            <div class="navbar-header pull-left">
                <a class="navbar-brand" href="/">
                   <img alt="IETF Logo" src="{% static 'mlarchive/images/ietflogo-small-transparent.png' %}">

                      <span id="header-text">
                      {% if server_mode and server_mode == "production" %}
                      Mail Archive
                      {% else %}
                      <b><i>Development mode</i></b>
                      {% endif %}
                      </span>

                </a>
            </div> <!-- navbar-header -->

            {% if not request.resolver_match.url_name == "django.contrib.auth.views.login" %}
            <div class="navbar-header pull-right">
                {% if not request.resolver_match.url_name == "archive_help" %}
                <div id="nav-help" class="nav-menu">
                    <a href="{% url "archive_help" %}">Help</a>
                </div>
                {% endif %}
                {% if user.is_superuser %}
                <div id="nav-admin" class="nav-menu dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin</a>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li><a href="{% url "archive_admin" %}">Remove Messages</a></li>
                        <li><a href="{% url "archive_admin_guide" %}">Guide</a></li>
                        <li><a href="{% url "archive_admin_console" %}">Console</a></li>
                    </ul>
                </div>
                {% endif %}
                {% if static_mode_enabled %}
                <div id="nav-settings" class="nav-menu dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings</a>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li><a id="toggle-static" href="#">Turn Static Mode On</a></li>
                    </ul>
                </div>
                {% endif %}
                <div id="login" class="nav-menu noprint">
                {% if user.is_authenticated %}
                    <span class="login-user pipe">{{ user }}</span>
                    <a href="{% url "archive_logout" %}">Sign out</a>
                {% else %}
                    <a href="http://{{ request.get_host }}/accounts/login/?next={{request.get_full_path|urlencode}}" rel="nofollow">Sign in</a>
                {% endif %}
                </div>
            {% endif %}

            </div> <!-- navbar-header -->
        </div> <!-- container-fluid -->
    </header>

            <!-- 
            <noscript>
                <p class="navbar-text"><small>Enable Javascript for full functionality.</small></p>
            </noscript>
            -->

        <!-- Django Messages -->
        {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}


    <!-- Content -->
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <!-- END Content -->


    {% block footer %}
        {% include "includes/footer.html" %}
    {% endblock %}

</div> <!-- END Container -->

{% block modal %}{% endblock %}

<script type="text/javascript" src="{% static 'jquery/jquery-1.12.4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery.cookie/jquery.cookie.js' %}"></script>
<script type="text/javascript" src="{% static 'mlarchive/js/base.js' %}"></script>
{% block js %}{% endblock %}

<!-- debug_toolbar_here -->
</body>
</html>
