{% extends "base.html" %}
{% load static bootstrap3 widget_tweaks %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'selectize/css/selectize.bootstrap3.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}" type="text/css">
{% endblock %}

{% block title %}Mail Archive - Admin{% endblock %}

{% block header %}{{ block.super }} - Admin{% endblock %}

{% block content %}

<div id="admin-page">
    <div id="admin-top">
        <div id="admin_search_form">
            <form id="id_admin_form" name="admin-search-form" class="form-inline" action="." method="post">{% csrf_token %}
                <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                        {% render_field form.subject class="form-control" placeholder="Subject" %}
                    </div>
                    <div class="col-md-4">
                        {% render_field form.msgid class="form-control" placeholder="Message-Id" %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                        {% render_field form.frm class="form-control" placeholder="From" %}
                    </div>
                    <div class="col-md-4">
                        {% render_field form.email_list class="form-control" placeholder="Email List" %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                        <div class="subrow">
                        <div class="col-md-6 subrow-left">
                          {% render_field form.start_date class="form-control" placeholder="Start Date" %}
                        </div>
                        <div class="col-md-6 subrow-right">
                            {% render_field form.end_date class="form-control" placeholder="End Date" %}
                        </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-default" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div> <!-- admin_search_form -->
    </div> <!-- admin-top -->


    <div id="result-list" class="section" tabindex="-1">
        <h3>Results{% if results %} ({{ results|length }}){% endif %}</h3>
        <form id="id_admin_action" class="form-inline" name="admin-action-form" action="." method="post">{% csrf_token %}

        <div class="row">
            <div class="col-md-2 col-md-offset-2">
                <label class="checkbox-inline"><input type="checkbox" id="selectall" name="selectall" value="selectall">Select All</label>
            </div>
            <div class="col-md-4">
                <label class="sr-only" for="action-select">Action</label>
                <select id="action-select" name="action" class="form-control" placeholder="Select action">
                    <option value="" selected="selected" disabled>Select Action</option>
                    <option value="remove_selected">Remove selected messages</option>
                    <option value="not_spam">Mark selected not spam</option>
                </select>
                <input type="hidden" class="select-across" value="0" name="select_across" />
                <button type="submit" class="btn btn-default" title="Run the selected action" name="index" value="0">Go</button>
            </div>
        </div> <!-- row -->

        <table id="result-table" class="table table-responsive">
            <tr>
                <th class="col1"></th>
                <th class="col2">#</th>
                <th class="col3">Subject</th>
                <th class="col4">From</th>
                <th class="col5">To</th>
            </tr>
            {% if results %}
                {% for item in results %}
                  <tr>
                    <td><input type="checkbox" class="action-select" value="{{ item.object.pk }}" name="_selected_action"></td>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ item.object.subject }}</td>
                    <td>{{ item.object.frm }}</td>
                    <td>{{ item.object.to }}</td>
                    <td class="hidden">{{ item.object.get_absolute_url }}</td>
                  </tr>
                {% endfor %}
            {% else %}
                {% if request.method == "POST" %}
                <tr>
                    <td></td>
                    <td></td>
                    <td>No Results</td>
                    <td></td>
                    <td></td>
                </tr>
                {% endif %}
            {% endif %}
        </table>
        </form>
    </div> <!-- result-list -->
</div> <!-- admin-page -->

<div id="admin-view-pane"></div>

{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'selectize/js/standalone/selectize.min.js' %}"></script>
<script type="text/javascript" src="{% static 'mlarchive/js/admin.js' %}"></script>
{% endblock %}

