{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}Mail Archive{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/select2.css" type="text/css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/select2-bootstrap.css" type="text/css">
{% endblock %}

{% block header %}{{ block.super }} - Advanced Search{% endblock %}

{% block content %}

<div class="container-fluid">
<div id="adv-search-container">
  <div id="adv-search" class="adv-search">
      <form id="rules-form" class="advanced" action="../search" method="get">

        <fieldset id="query_parts">
        <span class="label">Include {{ form.operator }}:</span>
        {% for form in query_formset.forms %}
            <div id="query_chunk_{{ forloop.counter0 }}" class="chunk query_chunk form-inline">
            {% if form.non_field_errors %}
              {{ form.non_field_errors }}
            {% endif %}
            {% bootstrap_field form.field show_label=False %}
            {% bootstrap_field form.qualifier show_label=False %}
            {% bootstrap_field form.value show_label=False %}
            <a id="remove_{{ forloop.counter0 }}" class="remove_btn" onclick="false" name="remove_{{ forloop.counter0 }}" href="#">
                <img title="Remove" src="{{ STATIC_URL }}admin/img/icon_deletelink.gif" alt="Remove">
            </a>
            </div>
        {% endfor %}
        <a id="add_query_part" class="addlink addParamBtn" href="#">Add another</a>
        </fieldset>

        <fieldset id="not_parts">
        <span class="label">but do not include: </span>
        {% for form in not_formset.forms %}
            <div id="not_chunk_{{ forloop.counter0 }}" class="chunk not_chunk form-inline">
            {% if form.non_field_errors %}
              {{ form.non_field_errors }}
            {% endif %}
            {% bootstrap_field form.field show_label=False %}
            {% bootstrap_field form.qualifier show_label=False %}
            {% bootstrap_field form.value show_label=False %}
            <a id="not_remove_{{ forloop.counter0 }}" class="not_remove_btn" onclick="false" href="#">
                <img title="Remove" src="{{ STATIC_URL }}admin/img/icon_deletelink.gif" alt="Remove">
            </a>
            </div>
        {% endfor %}
        <a id="add_not_part" class="addlink addParamBtn" href="#">Add another</a>
        </fieldset>
      </form>

      <form id="advanced-search-form" class="advanced" action="../search" method="get">
        <fieldset id="not_parts">
        <span class="label">filter results by:</span>
                    {% bootstrap_field form.qdr %}
                    {% bootstrap_field form.start_date form_group_class="form-group date-field" %}
                    {% bootstrap_field form.end_date form_group_class="form-group date-field" %}
                    {% bootstrap_field form.email_list %}

            <fieldset id="list-fieldset2" class="list-fieldset">
              <legend>Lists to Search</legend>
              <ul id="email_list_list"></ul>
            </fieldset>

        </fieldset>

        <br />
        <hr />

        <input id="id_q" type="text" name="q" readonly="readonly" />
        <input id="as" type="hidden" name="as" value="1" />

        <div class="button-group">
          <ul>
            <li><button type="submit">Search</button></li>
          </ul>
        </div> <!-- button-group -->
      </form>
  </div> <!-- advanced-search-->
</div>
</div> <!-- container-fluid -->

{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/select2.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.query.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/search_form.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/search_advanced.js"></script>
{% endblock %}
