{% extends "base.html" %}
{% load static bootstrap3 %}

{% block title %}Mail Archive Advanced Search{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'selectize/css/selectize.bootstrap3.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}" type="text/css">
{% endblock %}

{% block header %}{{ block.super }} - Advanced Search{% endblock %}

{% block content %}

<div class="container">
<div id="adv-search-container" class="col-md-offset-1 col-md-10">
  <div id="adv-search" class="adv-search">
      <form id="rules-form" class="advanced js-show" action="../search" method="get">
        <fieldset class="term-set">
        <h4>Include:</h4>
        {% for form in query_formset.forms %}
            <div id="query_chunk_{{ forloop.counter0 }}" class="chunk query_chunk form-inline">
            {% if form.non_field_errors %}
              {{ form.non_field_errors }}
            {% endif %}
            {% bootstrap_field form.field show_label=False %}
            {% bootstrap_field form.qualifier show_label=False %}
            {% bootstrap_field form.value show_label=False %}
            <button class="btn btn-danger btn-remove" type="button">Delete</button>
            </div>
        {% endfor %}
        <a class="addChunk" href="#">Add another</a>
        </fieldset>

        <fieldset class="term-set">
        <h4>Do not Include:</h4>
        {% for form in not_formset.forms %}
            <div id="not_chunk_{{ forloop.counter0 }}" class="chunk not_chunk form-inline">
            {% if form.non_field_errors %}
              {{ form.non_field_errors }}
            {% endif %}
            {% bootstrap_field form.field show_label=False %}
            {% bootstrap_field form.qualifier show_label=False %}
            {% bootstrap_field form.value show_label=False %}
            <button class="btn btn-danger btn-remove" type="button">Delete</button>
            </div>
        {% endfor %}
        <a class="addChunk" href="#">Add another</a>
        </fieldset>
      </form>

      <form id="advanced-search-form" class="advanced" action="../search" method="get">
        
        <div class="js-hide">
            <fieldset class="term-set">
                <h4>Include:</h4>
                {% for form in nojs_query_formset.forms %}
                    <div class="form-inline chunk">
                    {% if form.non_field_errors %}
                      {{ form.non_field_errors }}
                    {% endif %}
                    {% bootstrap_field form.field show_label=False %}
                    {% bootstrap_field form.qualifier show_label=False %}
                    {% bootstrap_field form.value show_label=False %}
                    </div>
                {% endfor %}
            </fieldset>

            <fieldset class="term-set">
                <h4>Do Not Include:</h4>
                {% for form in nojs_not_formset.forms %}
                    <div class="form-inline chunk">
                    {% if form.non_field_errors %}
                      {{ form.non_field_errors }}
                    {% endif %}
                    {% bootstrap_field form.field show_label=False %}
                    {% bootstrap_field form.qualifier show_label=False %}
                    {% bootstrap_field form.value show_label=False %}
                    </div>
                {% endfor %}
            </fieldset>
            <input id="id_nojs" class="nojs" type="hidden" name="nojs" value="1" />
        </div> <!-- js-hide -->

        <fieldset>
        <h4>Filter Results By:</h4>
            {% bootstrap_field form.qdr show_label=False %}
            {% bootstrap_field form.start_date form_group_class="form-group date-field" %}
            {% bootstrap_field form.end_date form_group_class="form-group date-field" %}
            {% bootstrap_field form.email_list show_help=False show_label=False %}
        </fieldset>

        <button class="btn btn-default" type="submit">Search</button>
        
        <div class="js-show">
            <br />
            <hr />
            <input id="id_q" type="text" name="q" readonly="readonly" />
        </div>

        <input id="as" type="hidden" name="as" value="1" />
      </form>
      
  </div> <!-- advanced-search-->
</div>
</div> <!-- container -->

{% endblock %}


{% block js %}
<script type="text/javascript" src="{% static 'bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'selectize/js/standalone/selectize.min.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery.query/jquery.query.js' %}"></script>
<script type="text/javascript" src="{% static 'mlarchive/js/search_advanced.js' %}"></script>
{% endblock %}
