{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}Mail Archive{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/css/bootstrap-datepicker.css">
{% endblock %}

{% block header %}{{ block.super }} - Advanced Search{% endblock %}

{% block content %}

<div class="container">
<div id="adv-search-container" class="col-md-offset-1 col-md-10">
  <div id="adv-search" class="adv-search">
      <form id="rules-form" class="advanced" action="../search" method="get">
        <fieldset class="term-set">
        <h4>Include:</h4>
        {% for form in query_formset.forms %}
            <div id="query_chunk_{{ forloop.counter0 }}" class="chunk query_chunk form-inline">
            {% if form.non_field_errors %}
              {{ form.non_field_errors }}
            {% endif %}
            {% bootstrap_field form.field show_label=False %}
            {% bootstrap_field form.qualifier show_label=False %}
            {% bootstrap_field form.value show_label=False %}
            <button class="btn btn-danger btn-remove" type="button">Delete</button>
            </div>
        {% endfor %}
        <a class="addChunk" href="#">Add another</a>
        </fieldset>

        <fieldset class="term-set">
        <h4>but do not include:</h4>
        {% for form in not_formset.forms %}
            <div id="not_chunk_{{ forloop.counter0 }}" class="chunk not_chunk form-inline">
            {% if form.non_field_errors %}
              {{ form.non_field_errors }}
            {% endif %}
            {% bootstrap_field form.field show_label=False %}
            {% bootstrap_field form.qualifier show_label=False %}
            {% bootstrap_field form.value show_label=False %}
            <button class="btn btn-danger btn-remove" type="button">Delete</button>
            </div>
        {% endfor %}
        <a class="addChunk" href="#">Add another</a>
        </fieldset>
      </form>

      <form id="advanced-search-form" class="advanced" action="../search" method="get">
        <fieldset>
        <span class="label">filter results by:</span>
            {% bootstrap_field form.qdr %}
            {% bootstrap_field form.start_date form_group_class="form-group date-field" %}
            {% bootstrap_field form.end_date form_group_class="form-group date-field" %}
            {% bootstrap_field form.email_list show_help=False %}
        </fieldset>

        <button class="btn btn-default" type="submit">Search</button>
        
        <br />
        <hr />

        <input id="id_q" type="text" name="q" readonly="readonly" />
        <input id="as" type="hidden" name="as" value="1" />
      </form>
      
  </div> <!-- advanced-search-->
</div>
</div> <!-- container-fluid -->

{% endblock %}

{% block js %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/js/standalone/selectize.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.query.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/search_advanced.js"></script>
{% endblock %}
