{% extends "base.html" %}
{% load static %}

{% block title %}Archive{% endblock %}

{% block extrahead %}
<script src="https://use.fontawesome.com/616427ed62.js"></script>
{% endblock %}

{% block content %}

<div class="container-fluid">
  {% include "includes/detail_navbar.html" %}
  <div class="row">
    <div id="msg-aside" class="col-md-4 col-md-push-8">
      {# {% include "includes/detail_legacy.html" %} #}
    </div> <!-- msg-aside -->

    <div id="msg-detail" class="col-md-8 col-md-pull-4">
      {{ msg.get_body_html|safe }}
      <div id="related-messages">
        {% if replies %}
          <h4>Replies:</h4>
          <ul>
          {% for reply in replies %}
            <li>
              <a href="{{ reply.get_absolute_url }}">{{ reply.subject }}</a><br>
              {{ reply.frm }}
            </li>
          {% endfor %}
          </ul>
        {% endif %}
        {% if references %}
          <h4>References:</h4>
          <ul>
          {% for ref in references %}
            <li>
              <a href="{{ ref.get_absolute_url }}">{{ ref.subject }}</a><br>
              {{ ref.frm }}
            </li>
          {% endfor %}
          </ul>
        {% endif %}
      </div> <!-- related-messages -->

      <div id="nav-outer">
        <div id="nav-inner">
        <ul id="navigation">
          <li><a id="toggle-nav" class="toggle js-off" href="#">Hide Navigation Bar</a></li>
          {% if request.user.is_staff %}
            <li><a id="admin-link" href="{{ msg.get_admin_url }}">Admin Page</a></li>
          {% endif %}
        </ul>
        </div>
      </div>

    </div> <!-- msg-detail -->
</div> <!-- row -->

    {% include "includes/detail_buttons.html" %}

    {% include "includes/detail_navbar.html" %}

</div>

{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'jquery.cookie/jquery.cookie.js' %}"></script>
<script type="text/javascript" src="{% static 'mlarchive/js/detail.js' %}"></script>
{% endblock %}