{% extends "base.html" %}
{% load static %}

{% block title %}Archive{% endblock %}

{% block content %}

<div class="container-fluid">
  {% include "includes/detail_navbar.html" %}
  <div class="row">
    <div id="msg-aside" class="col-md-4 col-md-push-8">
      {# {% include "includes/detail_legacy.html" %} #}
    </div> <!-- msg-aside -->

    <div id="msg-detail" class="col-md-8 col-md-pull-4">
      {{ msg.get_body_html|safe }}
      {% include "includes/message_thread.html" %}

      <div id="nav-outer">
        <div id="nav-inner">
        <ul id="navigation">
          <li><a id="toggle-nav" class="toggle js-off" href="#">Hide Navigation Bar</a></li>
          {% if request.user.is_staff %}
            <li><a id="admin-link" href="{{ msg.get_admin_url }}">Admin Page</a></li>
          {% endif %}
        </ul>
        </div>
      </div>

    </div> <!-- msg-detail -->
</div> <!-- row -->

    {% include "includes/detail_buttons.html" %}

    {% include "includes/detail_navbar.html" %}

</div>

{% endblock %}

{% block footer %}
  {% with extra_class="scrolling" %}
    {% include "includes/footer.html" %}
  {% endwith %}
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'jquery.cookie/jquery.cookie.js' %}"></script>
<script type="text/javascript" src="{% static 'mlarchive/js/detail.js' %}"></script>
{% endblock %}