{% extends "base.html" %}
{% load static %}

{% block title %}Archive - Export{% endblock %}

{% block content %}

<div id="export-page" class="container-fluid">
  <h3>Archive Export</h3>
  <hr>

  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4"><strong>Export Type:</strong> {{ type|upper }}</div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4"><strong>Number of messages:</strong> {{ count }}</div>
    </div>
    {% if type != "url" %}
    <div class="row">
      <div class="col-md-4 col-md-offset-4"><strong>Estimated Size:</strong> {{ estimated_size }}k</div>
    </div>
    {% endif %}
  </div>

  <form action="" method="post">{% csrf_token %}
    <ul class="export-buttons">
      <li><button class="btn btn-secondary" onclick="history.go(-1);return false">Back</button></li>
      <li><button class="btn btn-secondary" type="submit">Continue</button></li>
    </ul>
  </form>

</div>

{% endblock %}

