{% extends "base.html" %}

{% block title %}Mail Archive{% endblock %}

{% block content %}

<h1>Email Archive Help</h1>
<ul>
<li>Supported Query Syntax:<a href="http://xapian.org/docs/queryparser.html">http://xapian.org/docs/queryparser.html</a></li>
<li>Advanced Search: non keyword fields act as a filter on the keyword search</li>
<li>Supported Field Specifiers: frm, subject, </li>
<li>Simple search input and Advanced Search keywords search message subject and body</li>
</ul>

{% endblock %}


