<!DOCTYPE html> 

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bootstrap Layout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap3/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap3/css/bootstrap-theme.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/layout.css" type="text/css">
  </head>
  <body>
    <header id="header">
      <p>Test</p>
    </header>
  
    <div id="search-filters" class="navbar navbar-default navbar-collapse sidebar">
        <h4>FILTER BY TIME</h4>
        <ul class="filter-options">
            <li><a href="#">Anytime</a></li>
            <li><a href="#">Past Day</a></li>
            <li><a href="#">Past Week</a></li>
            <li><a href="#">Past Month</a></li>
            <li><a href="#">Past Year</a></li>
        </ul>
        
        <h4>FILTER BY LIST</h4>
        <ul class="filter-options">
            <li><a href="#">ietf</a></li>
            <li><a href="#">mmusic</a></li>
        </ul>
        
        <h4>FILTER BY FROM</h4>
        <ul class="filter-options">
            <li><a href="#">rcross@amsl.com</a></li>
            <li><a href="#">secretariat@ietf.org</a></li>
        </ul>
        
    </div> <!-- navbar -->
    
    <div id="page-wrapper">
        <nav id="msg-list-navbar" class="navbar navbar-default">
            <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Date <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Thread</a></li>
                  </ul>
                  <form id="search-form" class="navbar-form navbar-left" role="search">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search for...">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                      </span>
                    </form>
                    </div><!-- /input-group -->
                  </form>
                  <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Export <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Mbox</a></li>
                        <li><a href="#">Maildir</a></li>
                      </ul>
                    </li>
                  </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    
        <div id="message-panes">
            <div id="list-pane" class="">
                <div class="table-responsive">
                <table id="msg-table" class="table table-condensed table-fixed">
                    <thead class="fixed-header">
                        <tr>
                            <th class="col-xs-6">Subject</th>
                            <th class="col-xs-2">From</th>
                            <th class="col-xs-2">List</th>
                            <th class="col-xs-2">Date</th>
                        </tr>
                    </thead>
                    <tbody class="fixed-header">
                        <tr>
                            <td class="col-xs-6">there's a new draft</td>
                            <td class="col-xs-2">secretariat@ietf.org</td>
                            <td class="col-xs-2">ietf</td>
                            <td class="col-xs-2">2015-12-07</td>
                        </tr>
                        <tr>
                            <td class="col-xs-6 response">Re: [ietf] there's a new draft</td>
                            <td class="col-xs-2">rcross@amsl.com</td>
                            <td class="col-xs-2">ietf</td>
                            <td class="col-xs-2">2015-12-07</td>
                        </tr>
                        <tr>
                            <td class="col-xs-6 response">Re: [ietf] there's a new draft</td>
                            <td class="col-xs-2">amorris@amsl.com</td>
                            <td class="col-xs-2">ietf</td>
                            <td class="col-xs-2">2015-12-08</td>
                        </tr>
                        <tr>
                            <td class="col-xs-6">here is a message with a relatively long subject line that extends beyond the size of the table cell width</td>
                            <td class="col-xs-2">rcross@amsl.com</td>
                            <td class="col-xs-2">ietf</td>
                            <td class="col-xs-2">2015-12-05</td>
                        </tr>
                        <tr>
                            <td class="col-xs-6">firefox version</td>
                            <td class="col-xs-2">rcross@amsl.com</td>
                            <td class="col-xs-2">ietf</td>
                            <td class="col-xs-2">2015-12-03</td>
                        </tr>
                        <tr>
                            <td class="col-xs-6">Thursday's call</td>
                            <td class="col-xs-2">rcross@amsl.com</td>
                            <td class="col-xs-2">ietf</td>
                            <td class="col-xs-2">2015-12-01</td>
                        </tr>
                        <tr>
                            <td class="col-xs-6">dow jones</td>
                            <td class="col-xs-2">rcross@amsl.com</td>
                            <td class="col-xs-2">ietf</td>
                            <td class="col-xs-2">2015-11-15</td>
                        </tr>
                        <tr>
                            <td class="col-xs-6">some draft</td>
                            <td class="col-xs-2">rcross@amsl.com</td>
                            <td class="col-xs-2">ietf</td>
                            <td class="col-xs-2">2015-11-08</td>
                        </tr>
                        <tr>
                            <td class="col-xs-6">document formatting</td>
                            <td class="col-xs-2">rcross@amsl.com</td>
                            <td class="col-xs-2">ietf</td>
                            <td class="col-xs-2">2015-11-01</td>
                        </tr>
                        <tr>
                            <td class="col-xs-6">something</td>
                            <td class="col-xs-2">rcross@amsl.com</td>
                            <td class="col-xs-2">ietf</td>
                            <td class="col-xs-2">2015-10-15</td>
                        </tr>
                    </tbody>
                </table>
                </div> <!-- table-responsive -->
                <div id="msg-list-controls">365 messages</div>
            </div> <!-- list-pane -->
            <div id="splitter-pane"></div>
            <div id="view-pane">
                Here is some stuff in the view
            </div>
        </div> <!-- message-panes -->
    </div> <!-- page-wrapper -->
    
    
  
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
  </body>
</html>