<div id="msg-body">
    <h1>{{ msg.subject }}</h1>
    <p id="msg-info" class="darkgray">
      <span id="msg-from" class="pipe">{{ msg.frm }}</span>
      <span id="msg-date" class="pipe">{{ msg.date|date:"D, d F  Y H:i" }} UTC</span>
    </p>
    <div id="msg-header" class="darkgray">
      <p>
      {% for k,v in headers %}
        {{k}}: {{v}}<br />
      {% endfor %}
      </p>
    </div>
    <div id="msg-payload">
      {% for part in parts %}
          {{ part|safe }}
      {% endfor %}
    </div>
</div>

{% if request %}
<div id="msg-link"><a class="msg-link" href="http://{{ request.META.HTTP_HOST }}{% url archive_detail list_name=msg.email_list.name id=msg.hashcode %}">http://{{ request.META.HTTP_HOST }}{% url archive_detail list_name=msg.email_list.name id=msg.hashcode %}</a></div>
{% endif %}