{% extends 'base.html' %}

{% load archive_extras %}

{% block extrahead %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.query.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/search.js"></script>
{% endblock %}

{% block title %}Mail Archive{% endblock %}

{% block content %}

    <div id="toolbar">
        <div id="browse-header" class="{% if browse_list.private %} private{% endif %}">
            {% if browse_list %}
              Browse: {{ browse_list.name }}
            {% else %}
              <a id="modify-search" href="{{ modify_search_url }}">Modify search</a>
            {% endif %}
              <a id="clear-sort" href="#">Clear Sort</a>
        </div>
        <div id="search-header">
          <form name="search-form" id="id_search_form" method="get">
            <button id="group-button" type="button">{% if thread_sorted %}Ungroup{% else %}Group by Thread{% endif %}</button>
            {{ form.q }}
            <button id="search-button" type="submit">Search</button>
            <button id="export-button" type="button">Export</button>
            <ul id="export-options" class="ui-widget-content" tabindex="-1">
                <li><a href="{{ export_mbox }}">Mbox</a></li>
                <li><a href="{{ export_maildir }}">Maildir</a></li>
            </ul>
          </form>
        </div> <!-- search-header -->
    </div> <!-- toolbar -->

    <div id="msg-container">
        <div id="sidebar">
            <div id="search-filters">
                <h4>FILTER BY TIME</h4>
                <ul class="filter-options" tabindex="-1">
                  <li class="filter-item"><a class="{% selected request 'qdr' '' %}" href="{% append_to_get qdr='' %}">Anytime</a></li>
                  <li class="filter-item"><a class="{% selected request 'qdr' 'd' %}" href="{% append_to_get qdr='d' %}">Past day</a></li>
                  <li class="filter-item"><a class="{% selected request 'qdr' 'w' %}" href="{% append_to_get qdr='w' %}">Past week</a></li>
                  <li class="filter-item"><a class="{% selected request 'qdr' 'm' %}" href="{% append_to_get qdr='m' %}">Past month</a></li>
                  <li class="filter-item"><a class="{% selected request 'qdr' 'y' %}" href="{% append_to_get qdr='y' %}">Past year</a></li>
                </ul>
                <div id="filter-box">
                    <h4>FILTER BY LIST</h4>
                    <div id="list-filter" class="filter" tabindex="-1">
                        <form id="list-filter">
                        <ul class="filter-options" tabindex="-1">
                        {% if facets.fields.email_list %}
                            {% for list in facets.fields.email_list %}
                                <li class="filter-option"><input class="list-facet facetchk" type="checkbox" name="f_list" value="{{ list.0 }}" {% checked request 'f_list' list.0 %}>{{ list.0 }} ({{ list.1 }})</li>
                            {% endfor %}
                            {% if facets.fields.email_list|length > 6 %}
                                <li class="control"><a class="more-link" href="">more...</a></li>
                            {% endif %}
                            <li class="control"><a id="list-filter-clear" href="">Clear</a></li>
                        {% endif %}
                        </ul>
                        </form>
                    </div> <!-- list-filter -->
                </div> <!-- filter-box -->
                <h4>FILTER BY FROM</h4>
                <div id="from-filter" class="filter" tabindex="-1">
                    <form id="from-filter">
                    <ul class="filter-options" tabindex="-1">
                     {% if facets.fields.frm_email %}
                        {% for email in facets.fields.frm_email %}
                            <li class="filter-option"><input class="from-facet facetchk" type="checkbox" name="f_from" value="{{ email.0 }}" {% checked request 'f_from' email.0 %}>{{ email.0|truncatechars:18 }} ({{ email.1 }})</li>
                        {% endfor %}
                        {% if facets.fields.frm_email|length > 6 %}
                            <li class="control"><a class="more-link" href="">more...</a></li>
                        {% endif %}
                        <li class="control"><a id="from-filter-clear" href="">Clear</a></li>
                    {% endif %}
                    </ul>
                    </form>
                </div> <!-- from-filter -->
            </div> <!-- search-filters -->
        </div> <!-- msg-left-nav -->

        <div id="msg-panes">
            <div id="list-pane">
                <div id="msg-list-header">
                    <table id="msg-list-header-table">
                        <thead>
                            <tr>
                                <th><a id="sort-button-date" class="unsorted sortbutton" href="#">Date</a></th>
                                <th><a id="sort-button-subject" class="unsorted sortbutton" href="#">Subject</a></th>
                                <th><a id="sort-button-frm" class="unsorted sortbutton" href="#">From</a></th>
                                <th><a id="sort-button-email_list" class="unsorted sortbutton" href="#">List</a></th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div id="msg-list" tabindex="-1" data-queryid="{{ queryid }}">
                    <table id="msg-table" class="no-zebra">
                        {% with page.object_list as results %}
                            {% include "includes/results_rows.html" %}
                        {% endwith %}
                    </table>
                </div> <!-- msg-list -->

                <div id="msg-list-controls">
                    {# Showing {{ page.object_list|length }} of {{ page.paginator.count }} #}
                    {{ page.paginator.count }} Messages

                    {% if page.has_previous or page.has_next %}
                        <span class="right">
                            {{ page|cut:"<"|cut:">" }}&nbsp;
                            {% if page.has_previous %}<a class="msg-link" href="{% append_to_get page=page.previous_page_number %}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                            |
                            {% if page.has_next %}<a class="msg-link" href="{% append_to_get page=page.next_page_number %}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                        </span>
                    {% endif %}
                </div> <!-- msg-list-controls -->
            </div> <!-- list-pane -->
            <div id="splitter-pane" class="draggable"></div>
            <div id="view-pane"></div>
        </div> <!-- msg-panes -->
    </div> <!-- msg-container -->
{% endblock %}
