{% extends 'base.html' %}
{% load static archive_extras widget_tweaks %}


{% block title %}{% if browse_list %}{{ browse_list }}{% else %}{{ block.super }}{% endif %}{% endblock %}


{% block content %}

    <div id="msg-container">
        <div id="sidebar">
            <div id="search-filters">
                <h4>FILTER BY TIME</h4>
                <ul class="filter-options" tabindex="-1">
                  <li class="filter-item"><a class="{% selected request 'qdr' '' %}" href="{% query_string '' 'qdr' %}">Anytime</a></li>
                  <li class="filter-item"><a class="{% selected request 'qdr' 'd' %}" href="{% query_string 'qdr=d' 'index' %}">Past day</a></li>
                  <li class="filter-item"><a class="{% selected request 'qdr' 'w' %}" href="{% query_string 'qdr=w' 'index' %}">Past week</a></li>
                  <li class="filter-item"><a class="{% selected request 'qdr' 'm' %}" href="{% query_string 'qdr=m' 'index' %}">Past month</a></li>
                  <li class="filter-item"><a class="{% selected request 'qdr' 'y' %}" href="{% query_string 'qdr=y' 'index' %}">Past year</a></li>
                </ul>
                <div id="filter-box" class="js-off">
                    <h4>FILTER BY LIST</h4>
                    <div id="list-filter" class="filter" tabindex="-1">
                        <form id="list-filter">
                        <ul class="filter-options" tabindex="-1">
                        {% if facets.fields.email_list %}
                            {% for list in facets.fields.email_list %}
                                <li class="filter-option"><input class="list-facet facetchk" type="checkbox" name="f_list" value="{{ list.0 }}" {% checked request 'f_list' list.0 %}>{{ list.0 }} ({{ list.1 }})</li>
                            {% endfor %}
                            {% if facets.fields.email_list|length > 6 %}
                                <li class="control"><a class="more-link" href="">more...</a></li>
                            {% endif %}
                            <li class="control"><a id="list-filter-clear" href="">Clear</a></li>
                        {% endif %}
                        </ul>
                        </form>
                    </div> <!-- list-filter -->

                    <h4>FILTER BY FROM</h4>
                    <div id="from-filter" class="filter" tabindex="-1">
                        <form id="from-filter">
                        <ul class="filter-options" tabindex="-1">
                         {% if facets.fields.frm_name %}
                            {% for name in facets.fields.frm_name %}
                                <li class="filter-option"><input class="from-facet facetchk" type="checkbox" name="f_from" value="{{ name.0 }}" {% checked request 'f_from' name.0 %}><span class="truncated">{{ name.0|truncatechars:24 }}</span><span class="full">{{ name.0|truncatechars:48 }}</span> ({{ name.1 }})</li>
                            {% endfor %}
                            {% if facets.fields.frm_name|length > 6 %}
                                <li class="control"><a class="more-link" href="">more...</a></li>
                            {% endif %}
                            <li class="control"><a id="from-filter-clear" href="">Clear</a></li>
                        {% endif %}
                        </ul>
                        </form>
                    </div> <!-- from-filter -->
                </div> <!-- filter-box -->
            </div> <!-- search-filters -->
            
            <div id="message">
              {% if count > FILTER_CUTOFF %}
                <p>Refine search to enable filters</p>
              {% endif %}
            </div>
            
            {% include "includes/footer.html" %}

        </div> <!-- sidebar -->

        <div id="msg-components">
        
            <nav id="toolbar-left" class="navbar navbar-default">
                <div class="container-fluid">
                    <ul class="nav navbar-nav navbar-left">
                        <li id="toggle-filters"><a href="#"><i class="fa fa-chevron-left toggle-pane" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </nav>

            <nav id="toolbar" class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false">
                            <span class="sr-only">Toggle toolbar</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div> <!-- navbar-header -->

                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav navbar-left">
                            {% if modify_search_url %}
                                <li><a id="modify-search" href="{{ modify_search_url }}" title="Modify Search"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a></li>
                            {% endif %}
                            <!-- <li><a id="clear-sort" href="#">Clear Sort</a></li> -->
                            <li{% if not thread_sorted %} class="active"{% endif %}><a href="{{ view_date_url }}">Date</a></li>
                            <li{% if thread_sorted %} class="active"{% endif %}><a id="gbt-link" href="{{ view_thread_url }}">Thread</a></li>
                        </ul>
                        
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                {% if not user.is_authenticated and count > anonymous_export_limit %}
                                <a href="#" class="dropdown-toggle disabled" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Login to enable large exports">Export <span class="caret"></span></a>
                                {% else %}
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Export <span class="caret"></span></a>
                                {% endif %}
                                <ul class="dropdown-menu">
                                    <li><a href="{{ export_mbox }}">Mbox</a></li>
                                    <li><a href="{{ export_maildir }}">Maildir</a></li>
                                    <li><a href="{{ export_url }}">URLs</a></li>
                                </ul>
                            </li>
                        </ul> <!-- nav navbar-nav -->
                        <form name="search-form" id="id_search_form" class="navbar-form navbar-right" method="get">
                            <div class="input-group">
                                {% render_field form.q class="form-control" %}
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">
                                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                    </button>
                                </span>
                            </div>
                        </form>

                    </div> <!-- myNavbar -->
                </div> <!-- container-fluid -->
            </nav> <!-- toolbar -->
    
            
            <div id="msg-panes">
                <div id="list-pane">
                    {# In thread view, no sorting available #}
                    {% if thread_sorted %}
                        <div class="header">
                            <span>Subject</span>
                        </div><div class="header">
                            <span>From</span>
                        </div><div class="header">
                            <span>Date</span>
                        </div><div class="header">
                            <span>List</span>
                        </div>
                    {% else %}
                        <div class="header sortable">
                            <a id="sort-button-subject" class="unsorted sortbutton" href="#">Subject<i class="fa fa-sort" aria-hidden="true"></i></a>
                        </div><div class="header sortable">
                            <a id="sort-button-frm" class="unsorted sortbutton" href="#">From<i class="fa fa-sort" aria-hidden="true"></i></a>
                        </div><div class="header sortable">
                            <a id="sort-button-date" class="unsorted sortbutton" href="#">Date<i class="fa fa-sort" aria-hidden="true"></i></a>
                        </div><div class="header sortable">
                            <a id="sort-button-email_list" class="unsorted sortbutton" href="#">List<i class="fa fa-sort" aria-hidden="true"></i></a>
                        </div>
                    {% endif %}

                    <div id="msg-list" class="msg-list wrapper" tabindex="-1" data-queryid="{{ queryid }}" data-queryset-offset="{{ page.start_index|add:'-1' }}" data-selected-offset="{{ selected_offset }}">
                        <div class="table table-condensed msg-table xtable{% if thread_sorted %} thread-sorted{% endif %}">
                            <div class="xtbody">
                                {% with page as results %}
                                    {% include "includes/results_divs.html" %}
                                {% endwith %}
                            </div>
                        </div> <!-- msg-table -->
                    </div> <!-- msg-list -->

                    <div id="msg-list-controls">
                        <div id="message-count" class="list-control">{{ count }} Messages</div>
                        <div class="list-control page-nav">
                            {% if page.has_previous %}<a class="pull-left" href="{{ previous_page_url }}">Previous</a>{% endif %}
                            <span class="current-page">Page {{ page.number }} of {{ page.paginator.num_pages }}</span>
                            {% if page.has_next %}<a class="pull-right" href="{{ next_page_url }}">Next</a>{% endif %}
                        </div>
                        <div id="toggle-preview"><a href="#"><i class="fa fa-chevron-down toggle-pane" aria-hidden="true"></i></a></div>
                    </div> <!-- msg-list-controls -->
                </div> <!-- list-pane -->
                
                <div id="splitter-pane" class="draggable js-off"></div>
                
                <div id="view-pane" class="js-off"></div>
            </div> <!-- msg-panes -->
        </div> <!-- msg-components -->
    </div> <!-- msg-container -->
{% endblock %}

{% block footer %}{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery.cookie/jquery.cookie.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery.query/jquery.query.js' %}"></script>
<script type="text/javascript" src="{% static 'mlarchive/js/mailarch.js' %}"></script>

{% endblock %}
