{% extends "base.html" %}
{% load static archive_extras %}

{% block title %}{{ page.0.email_list.name }} Discussion Archive - Thread Index{% endblock %}

{% block content %}

    <div id="static-page" class="container-fluid">
        <h3>{{ page.0.email_list.name }} Discussion Archive - Thread Index</h3>
        {% with prefix="thread" %}
            {% include "includes/static_index_nav.html" %}
        {% endwith %}

        <ul class="static-index">
        {% for message in page reversed %}
            <li class="depth-{{ message.thread_depth|max_depth }}">
                <a id="{{ message.hashcode|slice:':-1' }}" href="{{ message.get_absolute_url }}">{{ message.subject }}</a>
                <span class="name-col">{{ message.frm_name }}</span>
            </li>
        {% endfor %}
        </ul>

        {% with prefix="thread" %}
            {% include "includes/static_index_nav.html" %}
        {% endwith %}
    </div> <!-- static-page -->

{% endblock %}


{% block footer %}
  {% with extra_class="scrolling" %}
    {% include "includes/footer.html" %}
  {% endwith %}
{% endblock %}


{% block js %}
<script type="text/javascript" src="{% static 'mlarchive/js/static_index.js' %}"></script>
{% endblock %}