{% extends "base.html" %}
{% load static archive_extras %}

{% block title %}{{ email_list.name }} Discussion Archive - {% if group_by_thread %}Thread{% else %}Date{% endif %} Index - {{ date_string }}{% endblock %}

{% block content %}

    <div id="static-page" class="container-fluid">
        <h3>{{ email_list.name }} Discussion Archive - {% if group_by_thread %}Thread{% else %}Date{% endif %} Index - {{ date_string }}</h3>

        {% include "includes/static_index_nav.html" %}

        <ul class="static-index" data-legacy-off-url="{{ legacy_off_url }}">
        {% for message in queryset %}
            {% if group_by_thread %}
                <li class="depth-{{ message.thread_depth|max_depth }}">
                    <a id="{{ message.hashcode|slice:':-1' }}" href="{{ message.get_absolute_url }}">{{ message.subject }}</a>, <em>{{ message.frm_name }}</em>
                </li>
            {% else %}
                {% with date=message.date|date:"M d Y" %}
                    {% ifchanged %}<strong>{{ date }}</strong>{% endifchanged %}
                    <li>
                        <a id="{{ message.hashcode|slice:':-1' }}" href="{{ message.get_absolute_url }}">{{ message.subject }}</a>, <em>{{ message.frm_name }}</em>
                    </li>
                {% endwith %}
            {% endif %}        
        {% empty %}
            <li>No messages</li>
        {% endfor %}
        </ul>
        <hr>

        {% include "includes/static_index_nav.html" %}

    </div> <!-- static-page -->

{% endblock %}

{% block footer %}{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'mlarchive/js/static_index.js' %}"></script>
{% endblock %}

