{% extends "base.html" %}

{% block extrahead %}
<style>
#test { 
  border: 1px solid black; 
  width: 300px;
  white-space: pre-wrap;
}
#left {
    display: inline;
    margin-left: 200px;
    float: left;
}

#middle {
    display: inline;
    width: 100%;
    float: left;
}

#right {
    display: inline;
    float: right;
}

#id_text {
    width: 100%;
}

</style>
<script type="text/javascript">
alert("Here");
$('#target').dblclick(function() {
    alert('Handler for .dblclick() called.');
});
$("p").dblclick( function () { alert("Hello World!"); });
</script>
{% endblock %} 


{% block title %}Archive{% endblock %}

{% block content %}

<div>
  <h2>Archive</h2>
  <p>
  This is some random text.
  </p>
  <ul>
    <li><a href="./haystack">Haystack</a></li>
    <li><a href="./custom">Custom Haystack</a></li>
  </ul>
  
  <p>
    <ul>
      <li>{{ request.session.keys }}</li>
      <li>{{ request.session.get_decoded }}</li>
      <li>{{ request.session.expire_date }}</li>
    </ul>
  </p>
</div>

<div id='test'>
<div>Here is a div with a really long line in it to test if this line gets wrapped properly when it is really long and goes outside the div</div>
<div></div>
</div>

<div id="sample"> <pre class="someclass">Some text goes here<pre></div>

<h2>This is a unicode copyright character &#xa9;</h2>

<h2>Here is some decoded header &#xc0;&#xcc;&#xbd;&#xc2;&#xbf;&#xeb; </h2>

{% for test in tests %}
<h2>Here is unicode template variable {{ test }}</h2>
{% endfor %}

<h2>Here is a body test {{ body }}</h2>

<div id="target">
Double-click here
</div>

<div id="other">
Trigger the handler
</div>

<div id="left">left text</div>
<div id="middle"><input id="id_text" size="20" name="some" value="thing"></div>
<div id="right">right text</div>
<br />
<h1> A test header</h1>
<p>This is a pragraph</p>
{% endblock %}


