apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: elasticsearch
spec:
  replicas: 1
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: elasticsearch
  template:
    metadata:
      labels:
        app: elasticsearch
    spec:
      securityContext:
        fsGroup: 1000
      initContainers:
        - name: sysctl
          image: busybox
          imagePullPolicy: IfNotPresent
          securityContext:
            privileged: true
            runAsUser: 0
          command: ['sh', '-c', 'sysctl -w vm.max_map_count=262144']
      containers:
        - image: "docker.elastic.co/elasticsearch/elasticsearch:7.17.21"
          imagePullPolicy: IfNotPresent
          name: elasticsearch
          ports:
            - name: elasticsearch
              containerPort: 9200
              protocol: TCP
          volumeMounts:
            - name: es-data
              mountPath: /usr/share/elasticsearch/data
            - name: es-snapshots
              mountPath: /mnt/snapshots
          env:
            - name: discovery.type
              value: single-node
            - name: xpack.security.enabled
              value: "true"
            - name: ELASTIC_PASSWORD
              value: $ELASTICSEARCH_PASSWORD
            - name: path.repo
              value: /mnt/snapshots
            - name: ES_JAVA_OPTS
              value: "-Xms1g -Xmx1g"
            - name: RABBITMQ_ERLANG_COOKIE
              value: lorem-ipsum-dolor-sit-amet
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            runAsNonRoot: true
            # elasticsearch image sets up uid/gid 1000:0
            runAsUser: 1000
            runAsGroup: 1000
          resources:
            requests:
              memory: "2Gi"
              cpu: "2"
            limits:
              memory: "4Gi"
              cpu: "2"
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
      volumes:
        # To be overriden with the actual shared volume
        - name: es-snapshots
  volumeClaimTemplates:
  - metadata:
      name: es-data
    spec:
      accessModes:
      - ReadWriteOnce
      resources:
        requests:
          storage: 25Gi
      # storageClassName: ""
---
apiVersion: v1
kind: Service
metadata:
  name: elasticsearch
spec:
  type: ClusterIP
  ports:
    - port: 9200
      targetPort: elasticsearch
      protocol: TCP
      name: elasticsearch
  selector:
    app: elasticsearch
