namespace: mailarch
namePrefix: ml-
configMapGenerator:
  - name: files-cfgmap
    files:
      - nginx-logging.conf
      - nginx-mailarchive.conf
resources:
  - beat.yaml
  - celery.yaml
  - django-config.yaml
  - elasticsearch.yaml
  - mailarchive.yaml
  - memcached.yaml
  - rabbitmq.yaml