{% extends "base.html" %}
{% load static %}

{% block title %}Mail Archive{% endblock %}

{% block content %}

<div id="admin_page" class="container-fluid">
    <div id="console-container">
      <div class="row mb-2">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">Total Messages</h5>
            </div>
            <div class="card-body">
              <h5>{{ message_count }}</h5>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">Last Message</h5>
            </div>
            <div class="card-body">
              <h5>{{ last_message.date }}</h5>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">Avg Response Time</h5>
            </div>
            <div class="card-body">
              <h5> - - - </h5>
            </div>
          </div>
        </div>
      </div> <!-- row -->


      <div class="row mb-2">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <div id="top25-chart"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <div id="weekly-chart"></div>
            </div>
          </div>
        </div>
      </div>

    </div>
</div> <!-- admin_page -->

{% endblock %}

{% block footer %}
  {% with extra_class="scrolling" %}
    {% include "includes/footer.html" %}
  {% endwith %}
{% endblock %}

{% block js %}
{% include "includes/top25_chart.html" %}
{% include "includes/weekly_chart.html" %}
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script type="text/javascript" src="{% static 'mlarchive/js/console.js' %}"></script> 
{% endblock %}