{% extends "base.html" %}

{% block title %}Archive{% endblock %}

{% block content %}

<div>
  <h2>{{ list_obj.name }}</h2>
  
  <a href="{% url "archive_browse_list" list_name=list_obj.name %}?so=date">Date</a>
  <a href="{% url "archive_browse_list" list_name=list_obj.name %}?so=frm">Sender</a>

  <table>
    {% for msg in msgs %}
    <tr>
      <td>{{ msg.date|date:"m/d/Y" }}</td>
      <td><a href="{{ msg.get_absolute_url }}">{{ msg.subject }}</a></td>
      <td>{{ msg.frm }}</td>
    <tr>
    {% endfor %}
  </table>


</div>

{% endblock %}


