{% extends "base.html" %}
{% load static %}

{% block title %}{{ msg.subject }}{% endblock %}

{% block content %}

<div class="container-fluid">

  {% include "includes/detail_navbar.html" with target="id-navbar-top" %}
  
  <div class="row">

    <div class="msg-detail col-md-8 pt-3" data-static-date-index-url="{{ msg.get_static_date_index_url }}" data-static-thread-index-url="{{ msg.get_static_thread_index_url }}" data-date-index-url="{{ msg.get_date_index_url }}" data-thread-index-url="{{ msg.get_thread_index_url }}">
      
      {{ msg.get_body_html|safe }}

      {% include "includes/message_thread.html" %}

      <div class="d-flex justify-content-center">
        <ul id="navigation" class="list-inline">
          <li class="list-inline-item">
            <a id="toggle-nav" class="toggle js-off" href="#">Hide Navigation Bar</a>
          </li>
          {% if request.user.is_staff %}
          <li class="list-inline-item">
            <a id="admin-link" href="{{ msg.get_admin_url }}">Admin Page</a>
          </li>
          {% endif %}
        </ul>
      </div>
          
    </div> <!-- msg-detail -->

    <div class="msg-aside col-md-4"></div>
</div> <!-- row -->

    {% include "includes/detail_buttons.html" %}

    {% include "includes/detail_navbar.html" with target="id-navbar-bottom" %}

</div>

{% endblock %}

{% block footer %}
  {% with extra_class="scrolling" %}
    {% include "includes/footer.html" %}
  {% endwith %}
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'jquery.cookie/jquery.cookie.js' %}"></script>
<script type="text/javascript" src="{% static 'mlarchive/js/detail.js' %}"></script>
{% endblock %}
