{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}Mail Archive{% endblock %}

{% block content %}

<div class="corral">
  <div class="login-container">
    <form action="." method="post">{% csrf_token %}
        {% bootstrap_form form show_label=False %}
        <div class="d-grid">
          <button id="login-button" type="submit" value="Login" class="btn btn-primary">Log In</button>
        </div>
        <input type="hidden" name="next" value="{{ next }}">
    </form>
  </div>  <!-- login-container -->
</div> <!-- .corral -->

{% endblock %}

{% block js %}
<script type="text/javascript">
$(function() {
    $('#id_username').focus();
});
</script>
{% endblock %}
