{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="search-wrapper">
  <div class="search-container">
  <form id="id_search_form" name="search-form" action="search" method="get"{% if lists %} data-lists="{{ lists|join:',' }}"{% endif %}>
      <div>
        <div class="input-group">
          <input id="id_q" name="q" type="search" class="form-control typeahead" placeholder="Enter list name or search query..." {% if query %}value="{{ query }}"{% endif %}>
          <div class="input-group-append">
              <button class="btn btn-secondary" type="submit">
                <span class="fa fa-search" aria-hidden="true"></span>
              </button>
          </div>
        </div><!-- input-group -->
      </div>
  </form>
  </div> <!-- search-input -->

  <div class="nav-outer">
    <div class="nav-inner">
    <ul class="navigation">
      <li><a href="{% url "archive_advsearch" %}">Advanced Search</a></li>
      <li><a href="{% url "archive_browse" %}">Browse</a></li>
    </ul>
    </div>
  </div>
  
</div> <!-- search-wrapper -->

{% endblock %}


{% block js %}
<script type="text/javascript" src="{% static 'bootstrap3-typeahead/bootstrap3-typeahead.js' %}"></script>
<script type="text/javascript" src="{% static 'mlarchive/js/main.js' %}"></script>
{% endblock %}