<div id="msg-body" data-message-url="{{ msg.get_absolute_url_with_host }}">
    <div id="message-links">
      {% if msg.get_reply_url %}
        <a href="{{ msg.get_reply_url }}" class="reply-link" title="Reply"><i class="fas fa-reply fa-lg"></i></a>
      {% endif %}
      <a href="{{ msg.get_download_url }}" class="download-link" title="Message Download"><i class="fa fa-download fa-lg"></i></a>
      <a href="{{ msg.get_absolute_url_with_host }}" class="detail-link" title="Message Detail"><i class="fa fa-link fa-lg"></i></a>
    </div>
    <h3>{{ msg.subject }}</h3>
    <p id="msg-info" class="msg-header">
      <span id="msg-from" class="pipe">{{ msg.frm }}</span>
      <span id="msg-date" class="pipe">{{ msg.date|date:"D, d F  Y H:i" }} UTC</span>
    </p>
    <div id="msg-header" class="msg-header">
      <p>
      {% for k,v in headers %}
        {{k}}: {{v}}<br />
      {% endfor %}
      </p>
    </div>
    <div class="msg-payload">
      {% for part in parts %}
          {{ part|safe|urlize }}
      {% endfor %}
    </div>
    <div>
      {% if msg.attachment_set.all %}
        <ul class="attachment-list">
        {% for attachment in msg.attachment_set.all %}
          <li><h3><span class="label label-default">Attachment:</span><a href="{{ attachment.get_absolute_url }}"> {{ attachment.name }}</a></h3></li>
        {% endfor %}
        </ul>
      {% endif %}
    </div>
</div> <!-- msg-body -->

{% comment %}
{% if request %}
<div id="msg-link"><a class="msg-link" href="https://{{ request.META.HTTP_HOST }}{{ msg.get_absolute_url }}">http://{{ request.META.HTTP_HOST }}{{ msg.get_absolute_url }}</a></div>
{% endif %}
{% endcomment %}
