body {
    padding-top: 40px;
}
/* ==========================================================================
   Selectize Bootstrap overrides
   ========================================================================== */
.form-control.selectize-control {
    height: 34px;
}

/* Django Messages
   ========================================================================== */

ul.messages {
    padding: 0 0 5px 0;
    margin: 0;
}

ul.messages li {
    font-size: 12px;
    display: block;
    /* padding: 4px 5px 4px 25px; */
    padding: 9px 5px 10px 25px;
    margin: 0 0 3px 0;
    border-bottom: 1px solid #ddd;
    color: #666;
}

.info,
.success,
.warning,
.error,
.validation {
    padding: 4px 5px 4px 25px;
    margin: 0 0 3px 0;
    border-bottom: 1px solid #ddd;
}

.info {
    background: #ffc url(../img/admin/icon_success.gif) 5px .3em no-repeat;
}

.success {
    background: #ffc url(../img/admin/icon_success.gif) 5px .3em no-repeat;
}

.warning {
    background: #ffc url(../img/admin/icon_alert.gif) 5px .3em no-repeat;
}

.error {
    background: #ffc url(../img/admin/icon_error.gif) 5px .3em no-repeat;
}

/* ==========================================================================
   Site Wide
   ========================================================================== */
.section h2, .section h3 {
    background: lightgrey;
    color: darkgrey;
    padding: 4px 15px;
    text-align: center;
}

/* ==========================================================================
   Header
   ========================================================================== */

.navbar-brand > img {
    display: inline;
    margin-top: -5px;
    padding-right: 1em;
}

#nav-inner {
    display: table;
    margin: 0 auto;
}

#navigation {
    display: inline-block;
    list-style-type: none;
    margin: 10px auto;
    padding: 0;
}

#navigation li {
    border-right: 1px solid #5b80b2;;
    display: inline;
    padding: 0 10px 0 10px;
}

#navigation li:last-child {
    border-right: none;
}

.pipe {
    border-right: 1px solid #DDD;
    margin-right: 0.5em;
    padding-right: 0.8em;
}

#login {
    color: white;
    margin: 12px 5px;
}

#login a:link, #login a:visited {
    color: white;
}

#login a:hover {
    text-decoration: underline;
}

@media (max-width: 767px) {
.login-user {
    display: none;
}
}

/* ==========================================================================
   Login Page
   ========================================================================== */
.corral {
    margin: 0 auto;
    width: 460px;
}

#login-container {
    position: relative;
    margin: 130px auto 0;
    padding: 30px 10% 50px;
}

#login-button {
    width: 100%;
}

@media (max-width: 767px) {
.corral {
    width: 100%;
}

#login-container {
    margin-top: 30px;
    padding: 0 10% 30px;
    width: 100%
}
}

/* ==========================================================================
   Main Page
   ========================================================================== */
#search-wrapper {
    margin: 0 auto;
    width: 480px;
}

#search-container {
    position: relative;
    margin: 130px auto 0;
    padding: 30px 10% 10px;
}

@media (max-width: 767px) {
#header-text {
    display: none;
}

#search-wrapper {
    width: 100%;
}

#search-container {
    margin-top: 30px;
    padding: 0 10% 10px;
    width: 100%
}
}

/* ==========================================================================
   Browse
   ========================================================================== */
#browse-top {
    margin-top: 30px;
    padding-left: 15px;
}

.browse_section {
    margin: 0 auto;
    clear: both;
}

ul.browse_list {
    padding-left: 0;
}

ul.browse_list li {
    list-style-type: none;
    white-space: nowrap;
}

#id_browse_form .selectize-input {
    width: 300px;
}

/* ==========================================================================
   Advanced Search
   ========================================================================== */

#adv-search-container {
    margin-top: 30px;
}

.date-field {
    display: none;
    margin-left: 15px;
}

.advanced #id_q {
    width: 100%;
}

.term-set {
    margin-bottom: 10px;
}

.chunk {
    margin-bottom: 10px;
}

.btn-remove {
    display: none;
}

.removable .btn-remove {
    display: inline-block;
}

/* ==========================================================================
   Admin
   ========================================================================== */
#admin-top {
    margin-top: 30px;
}

#admin-top .form-control {
    width: 100%;
}

#id_admin_form .row {
    margin-bottom: 15px;
}

#id_admin_form .subrow .subrow-left {
    padding-left: 0;
}

#id_admin_form .subrow .subrow-right {
    padding-right: 0;
}

#result-list .row {
    margin-bottom: 15px;
}