body {
    padding-top: 40px;
}

/* ==========================================================================
   Login Page
   ========================================================================== */

.navbar-brand > img {
    display: inline;
    margin-top: -5px;
    padding-right: 1em;
}

#search-container {
    margin-top: 150px;
}

#nav-inner {
    display: table;
    margin: 0 auto;
}

#navigation {
    display: inline-block;
    list-style-type: none;
    margin: 10px auto;
    padding: 0;
}

#navigation li {
    border-right: 1px solid #5b80b2;;
    display: inline;
    padding: 0 10px 0 10px;
}

#navigation li:last-child {
    border-right: none;
}



.pipe {
    border-right: 1px solid #DDD;
    margin-right: 0.5em;
    padding-right: 0.8em;
}

#login {
    color: white;
    margin: 12px 5px;
}

#login a:link, #login a:visited {
    color: white;
}

#login a:hover {
    text-decoration: underline;
}

/* ==========================================================================
   Login Page
   ========================================================================== */
.corral {
    margin: 0 auto;
    width: 460px;
}

#login-container {
    position: relative;
    margin: 130px auto 0;
    padding: 30px 10% 50px;
}

#login-button {
    width: 100%;
}

@media (max-width: 767px) {
.corral {
    width: 100%;
}

#login-container {
    margin-top: 30px;
    padding: 0 10% 30px;
    width: 100%
}
}
/* ==========================================================================
   Browse
   ========================================================================== */
div.browse_section {
    margin: 0 auto;
    clear: both;
}

ul.browse_list {
    padding-left: 0;
}

ul.browse_list li {
    list-style-type: none;
    white-space: nowrap;
}

/* ==========================================================================
   Advanced Search
   ========================================================================== */
a.addParamBtn {}

.date-field {
    display: none;
}