/* ==========================================================================
   Core Styles
   ========================================================================== */
/* reset.css */
html {margin:0;padding:0;border:0;}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {display:block;}
body {line-height:1.5;background:white;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;float:none !important;}
table, th, td {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:'';}
blockquote, q {quotes:"" "";}
a img {border:none;}
:focus {outline:0;}

body, html {
    font-size: 100%;
    height: 100%;
}

body {
    font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
}

h1 {
    font-size: 1.5em;
}

input[disabled='disabled'] {
    background: none repeat scroll 0 0 #E5ECF9;
}

td.hidden {
    display: none;
}

tr.hidden {
    display: none;
}

.button-group ul {
    list-style-type: none;
    margin: 0;
    padding: 7px;
    text-align: center;
}

.right {
    float: right;
}

table.no-zebra tbody tr:nth-child(even) td,
table.no-zebra tbody tr.even td {
  background: transparent;
}

td, th {
    border-bottom: 1px solid #EEEEEE;
    font-family: "Lucida Grande",Verdana,Arial,sans-serif;
    font-size: 11px;
    line-height: 13px;
    padding: 5px;
    vertical-align: top;
}

a:link, a:visited {
    color: #5b80b2;
    text-decoration: none;
}

a:hover {
    color: #036;
    text-decoration: underline;
}

.errorlist {
    list-style-type: none;
}

.errorlist li {
    background: #FF8080 url(../img/admin/icon_alert.gif) no-repeat scroll 5px 0.3em;
    border: 1px solid #FF8080;
}

pre {
    font-family: Courier,"Courier New",monospace;
}

/* Django Messages
   ========================================================================== */

ul.messages {
    padding: 0 0 5px 0;
    margin: 0;
}

ul.messages li {
    font-size: 12px;
    display: block;
    /* padding: 4px 5px 4px 25px; */
    padding: 9px 5px 10px 25px;
    margin: 0 0 3px 0;
    border-bottom: 1px solid #ddd;
    color: #666;
}

.info,
.success,
.warning,
.error,
.validation {
    padding: 4px 5px 4px 25px;
    margin: 0 0 3px 0;
    border-bottom: 1px solid #ddd;
}

.info {
    background: #ffc url(../img/admin/icon_success.gif) 5px .3em no-repeat;
}

.success {
    background: #ffc url(../img/admin/icon_success.gif) 5px .3em no-repeat;
}

.warning {
    background: #ffc url(../img/admin/icon_alert.gif) 5px .3em no-repeat;
}

.error {
    background: #ffc url(../img/admin/icon_error.gif) 5px .3em no-repeat;
}

/* ==========================================================================
   Action Buttons
   ========================================================================== */
.addlink {
    padding-left: 12px;
    background: url("../admin/img/icon_addlink.gif") 0 .2em no-repeat;
}
/* ==========================================================================
   Header
   ========================================================================== */
#header {
    background: #417690;
    color: white;
    overflow: hidden;
}
#header.test {
    background: #4E579D;
}

#header-text {
    font-size: 1.5em;
    padding-left: 1em;
}

#header-text a {
    color: white;
}

#logo-link {
    display: inline-block;
    height: 39px;
    text-decoration: none;
    vertical-align: middle;
}

img#logo {
    box-sizing: content-box;
    padding: 0 10px 2px;
    vertical-align: middle;
}

#login {
    color: white;
    font-size: 0.85em;
    position: absolute;
    right: 10px;
    top: 8px;
}

#login a:link, #login a:visited {
    color: white;
}

#login a:hover {
    text-decoration: underline;
}

#footer {
    /* background-color: #DDDDDD;
    background-color: #EEEEFF; */
    background-color: #FFF;
    border-top: 1px solid #CCC;
    bottom: 0;
    color: #888;
    font-size: 10px;
    height: 15px;
    left: 0;
    /* margin-top: 8px; */
    padding: 6px 0;
    position: fixed;
    right: 0;
    text-align: left;
    z-index: 1;
}

#footer p {
    padding-left: 2.5em;
}

#login-container {
    margin: 50px auto;
    width: 155px;
}

#login-submit {
    margin: 15px auto;
}

/* ==========================================================================
   Home Page
   ========================================================================== */
   
@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('/static/bootstrap/fonts/glyphicons-halflings-regular.eot');
  src: url('/static/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/static/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'), url('/static/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('/static/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-search:before {
  content: "\e003";
}

.input-group {
    display: table;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.input-group .form-control, .input-group-btn {
    display: table-cell;
}

.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
margin-left: -1px;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-default {
    text-shadow: 0 1px 0 #fff;
    background-image: -webkit-linear-gradient(top,#fff 0,#e0e0e0 100%);
    background-image: -o-linear-gradient(top,#fff 0,#e0e0e0 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#e0e0e0));
    background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #dbdbdb;
    border-color: #ccc;
}

.btn:hover,
.btn:focus,
.btn.focus {
  color: #333;
  text-decoration: none;
  background-image: none;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}

.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* ==========================================================================
   Search
   ========================================================================== */

#msg-table {
    cursor: pointer;
    width: 100%;
}

#msg-table tr {
    height: 24px;
}

#search-container {
    margin: 150px auto;
    width: 675px;
}

#search-container input#id_q {
    /* font: 1.2em Arial, sans-serif; */
    font-size: 16px;
    font-family: Arial, sans-serif;
    padding: 2px;
    vertical-align: middle;
    width: 636px;
}

#browse-header {
    display: inline;
    font-size: 20px;
    margin-left: 200px;
    color: #808080;
}

#browse-header.private {
    color: #FF7373;
}

#browse-header a {
    display: inline;
    font-size: 12px;
    margin-right: 15px;
}

#search-header {
    display: inline;
    float: right;
}

#search-header input#id_q {
    width: 28em;
}

#id_search_form {
    display: inline;
}

#search-window {
    display: inline;
}

#search-bar-export, #search-bar-search {
    float: right;
}

/*
#search-bar-search input,.btn {
    height: 22px;
}
*/

#export-button {
    margin-right: 0;
    margin-left: 10px;
}

input.search_button {
    background-color: #0060A5;
    border-radius: 0 5px 5px 0;
    color: #FFFFFF;
    font-size: 14px;
    height: 30px;
    line-height: 18px;
    padding: 4px 10px 5px;
    /*position: absolute;
    right: 15px; */
    vertical-align: middle;
}

#nav-inner {
    display: table;
    margin: 0 auto;
}

#navigation {
    display: inline-block;
    list-style-type: none;
    margin: 10px auto;
}

#navigation li {
    border-right: 1px solid #5b80b2;;
    display: inline;
    padding: 0 10px 0 10px;
    font-size: 0.75em;
}

#navigation li:last-child {
    border-right: none;
}

/* ==========================================================================
   Position Layout
   ========================================================================== */
#adv-search-container {
    margin: 0 auto;
    width: 65%;
}

#advanced-search-table td {
    border-bottom: 0;
}

#container {
    height: 100%;
    position: absolute;
    width: 100%;
}

#content {
    bottom: 27px;
    left: 5em;
    min-width: 600px;
    position: absolute;
    right: 5em;
    top: 41px;
}

#msg-container {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 2em;
}

#sidebar {
    bottom: 0;
    font-size: 80%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
}

#msg-panes {
    bottom: 0;
    font-family: "DejaVu Sans Mono",Monaco,"Courier New",Courier;
    font-family: Tahoma,Verdana,Arial,sans-serif;
    left: 200px;
    position: absolute;
    right: 0;
    top: 0;
}

#list-pane {
    height: 250px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

#msg-list-header {
    background: url("smoothness/images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #E6E6E6;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    border-top: 1px solid #CCC;
    box-sizing: border-box;
    font-size: 0.75em;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 25px;
}

#msg-list-header-table th {
    border-bottom: none;
    color: #555555;
    font-weight: normal;
}

#msg-list {
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    border-top: 1px solid #CCC;
    bottom: 27px;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 25px;
}

#msg-list-controls {
    border: 1px solid #CCC;
    box-sizing: border-box;
    font-size: 0.75em;
    left: 0;
    padding: 3px 1em 3px 1em;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 28px;
}

#splitter-pane {
    /* background: #aaa; */
    cursor: row-resize;
    height: 5px;
    left: 0;
    position: absolute;
    right: 0;
    top: 250px;
    z-index: 1;
}

#view-pane {
    border: 1px solid #CCC;
    bottom: 0;
    font-size: 0.75em;
    left: 0;
    overflow: auto;
    padding: 1em;
    position: absolute;
    right: 0;
    top: 256px;
}

#view-pane h2 {
    font-size: 1.5em;
}

#msg-link {
    /* background: #FFF4C8; */
    background: #FFF;
    border-left: 1px solid #CCC;
    border-top: 1px solid #CCC;
    bottom: 28px;
    padding: 2px 5px;
    position: fixed;
    right: 96px;
    z-index: 2;
}

#msg-body {
    /* margin-top: 0.5em; */
    margin-bottom: 3em;
}

#msg-header {
    margin-top: 1.5em;
}

#msg-payload {
    margin-top: 1.5em;
}

#msg-attachments {
    margin-top: 1em;
}
#attachments-list li {
    list-style: none;
}

#attachments-label {
    font-weight: bold;
}

/* Source: http://snipplr.com/view/10979/css-cross-browser-word-wrap */
.wordwrap {
   white-space: pre-wrap;      /* CSS3 */
   white-space: -moz-pre-wrap; /* Firefox */
   white-space: -pre-wrap;     /* Opera <7 */
   white-space: -o-pre-wrap;   /* Opera 7 */
   word-wrap: break-word;      /* IE */
}


/* ==========================================================================
   Search Results
   ========================================================================== */

/*
.ascending {
    background: url(/static/admin/img/sorting-icons.gif) -5px -50px no-repeat;
}

table thead th.sorted .sortoptions a.ascending:hover {
    background: url(../img/sorting-icons.gif) -5px -72px no-repeat;
}

table thead th.sorted .sortoptions a.descending {
    background: url(../img/sorting-icons.gif) -5px -94px no-repeat;
}

table thead th.sorted .sortoptions a.descending:hover {
    background: url(../img/sorting-icons.gif) -5px -115px no-repeat;
}
*/

.small-button {
   font-size: .8em;
}

.ui-button-text {
   /* font-size: inherit !important; */
   font-size: 11px;
}

input.hidden-submit {
    left: -9999px;
    position: absolute;
}

.row-selected {
    background-color: #DDECFE;
}

.pipe {
    border-right: 1px solid #DDD;
    margin-right: 0.5em;
    padding-right: 0.8em;
}

.darkgray {
    color: #666;
}

blockquote {
    margin: 0;
    padding: 0 0 0 20px;
    /* color: #a01e1e; */
    color: #9F371C;
    border-left: 3px solid #9F371C;
}

/* Header sort buttons
   ========================================================================== */
#radio {
    /* display: inline; */
    float: left;
    margin-right: 14px;
    margin-top: -1px;
}

#radio label {
    margin-top: 3px;
}

a.sortbutton:visited, a.sortbutton:link {
    color: #555;
    text-decoration: none;
}

.ui-button-text {
    padding-left: 5px !important;
}

a.sortbutton:hover {
    color: #555;
}

.sortbutton {
    border: none !important;
}

#msg-list-header-table th {
    padding: 0;
}

a span.ui-icon { float: left; margin: 0 4px; }

/* Filters
   ========================================================================== */

#search-filters {
    display: inline-block;
}

.filter-item a:hover {
}

a.selected {
    color: #036;
}

.filter-options li {
    list-style: none outside none;
}

.filter-options li input {
    margin-left: 0;
    margin-right: 4px;
}

#sidebar ul {
    margin-bottom: 18px;
}

#sidebar {
    color: #808080;
}

.filter-popup {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D6D6D6;
    box-shadow: 0 2px 4px #D6D6D6;
    color: #333333;
    /* display: none; */
    line-height: 17px;
    padding-bottom: 5px;
    padding-top: 5px;
    position: absolute;
    right: -60px;
    top: 36px;
    z-index: 103;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 450px;
    width: 220px;
}

.filter-popup ul li {
    line-height: 17px;
    padding: 3px 10px 3px 10px;
}

.filter-popup ul li.control {
    display: none;
}

#filter-box {
    min-height: 180px;
}

/* Export
   ========================================================================== */

#export-options {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D6D6D6;
    box-shadow: 0 2px 4px #D6D6D6;
    color: #333333;
    display: none;
    line-height: 17px;
    padding-bottom: 5px;
    padding-top: 5px;
    position: absolute;
    right: 0px;
    top: 30px;
    z-index: 103;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 450px;
    width: 175px;
}

#export-options li {
    list-style: none outside none;
}

#export-options li:hover {
    background: none repeat scroll 0 0 #F1F1F1;
}

#export-options li a {
    color: #777777;
    display: block;
    font-family: Verdana,Arial,sanserif;
    font-size: 13px;
    padding: 4px 16px;
    text-decoration: none;
}

#export-options li a:hover {
    color: #222222;
}

/* ==========================================================================
   Advanced Search
   ========================================================================== */
#adv-search-container {
    margin: 0 auto;
    /* width: 65%; */
    width: 760px;
}

#adv-search-container h1 {
    margin-bottom: 2em;
    text-align: center;
}

#advanced-search-table td {
    border-bottom: 0;
}

#advanced-search input#id_q {
    width: 609px;
}

#advanced-search input.date {
    width: 107px;
}

#id_start_date, #id_end_date {
    width: 120px;
}

#email_list_list li {
    /* background-color: #6699CC; */
    background-color: #87CEFA;
    color: #fff;
    display: inline;
    list-style-type: none;
    margin: 3px 3px 3px 0;
    padding: 2px 5px;
}

a.listlink:link, a.listlink:visited {
    color: #fff;
    text-decoration: none;
}

.list-fieldset {
    border: 1px solid #CCC;
/*    margin-left: 75px;
    margin-right: 71px;  */
    padding: 3px;
}

#list-fieldset2 {
}

#delete-icon {
    margin: 0 3px 0 3px;
}

#custom_date {
    display: none;
}
/* ==========================================================================
   Advanced Search 2
   ========================================================================== */

#adv-search {
    margin-bottom: 3em;
}

#adv-search input {
    margin: 0.5em 0;
}

#adv-search input.operand {
    width: 35em;

}
#adv-search select.parameter {
    margin: 0.5em 0;
}

#adv-search input#id_q {
    width: 100%;
    background: #E5ECF9;
}

hr {
    color: #CCC;
    background-color: #CCC;
}

.removable a.remove_btn, .removable a.not_remove_btn {
    display: inline;
}

a.remove_btn, a.not_remove_btn {
    display: none;
    height: 14px;
    margin: 0.8em 0.25em;
    /* position: absolute; */
    width: 14px;
}

a.addParamBtn {
    bottom: 6px;
    position: absolute;
    right: 25px;
}

fieldset#query_parts {
    position: relative;
}

fieldset#not_parts {
    position: relative;
}

label, .label {
    display: block;
    font-weight: bold;
    margin: 1.5em 0 0.25em;
}

table.clean td {
    padding: 5px 5px 5px 0;
    vertical-align: middle;
}

/* ==========================================================================
   Browse
   ========================================================================== */
a.private:visited, a.private:link {
    color: #FF7373;
}

a.private:hover {
    color: #FF4040;
}

/*
#content2 {
    bottom: 27px;
    left: 0;
    min-width: 600px;
    position: absolute;
    right: 0;
    top: 3em;
}
*/
#content2 {
    margin-bottom: 15px;
}

h1.title {
    margin-bottom: 2em;
    text-align: center;
}

#browse_top h3 {
    margin: 1em 0 1em 0;
}

#browse_top {
    margin: 1em auto 1em;
    width: 960px;
}

#browse_top hr {
    background-color: #F8F8F8;
    color: #F8F8F8;
}

#browse_top label {
    display: inline;
    font-weight: normal;
}

#id_browse_form {
    margin-bottom: 0.75em;
}

ul.browse_list li {
    list-style-type: none;
    white-space: nowrap;
}

div.browse_column {
    float: left;
    margin-bottom: 2em;
    padding-right: 1em;
    width: 170px;
}

div.browse_section {
    width: 960px;
    margin: 0 auto;
    clear: both;
}

div.browse_section h2 {
    background: #417690;
    color: white;
    text-align: center;
}

#browse_help {
    margin-left: 2em;
    font-size: small;
}

/* ==========================================================================
   Detail
   ========================================================================== */

#msg-detail, #aside {
    float: left;
    padding: 0 0 20px;
}

#msg-detail {
    width: 645px;
}

#msg-detail h1 {
    font-size: 18px;
}

#msg-detail p {
    font-size: 13px;
}

#msg-detail pre {
    font-size: 13px;
    margin-top: 1em;
}

#msg-detail #msg-body {
    margin-bottom: 1em;
}

#msg-nav {
    margin-bottom: 60px;
}

#msg-aside {
    float: left;
    margin-left: 10px;
}

#msg-aside ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: left;
}

#msg-aside ul li { 
    margin: 1em 0;
}

#msg-nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

#msg-nav ul li { 
    display: inline;
    margin: 0 2em 0 2em;
}

#subject {
    font-weight: bold;
}

/* ==========================================================================
   Combined Advance Search CSS
   ========================================================================== */
.adv-search td, .adv-search th {
    font-size: 12px;
}

.adv-search {
    font-size: 12px;
}

.help_text {
    padding-top: 3px;
    color: #909090;
}

.defaultTextActive {
    color: #909090;
}
/* ==========================================================================
   Admin
   ========================================================================== */
#admin_top {
    margin: 1em auto 0;
}
#admin_page {
    width: 960px;
    margin: 0 auto;
    clear: both;
}

#admin_page h2 {
    background: #417690;
    color: white;
    text-align: center;
}

#admin_page input#id_subject {
    width: 320px;
}

#admin_page input#id_frm {
    width: 320px;
}

#admin_page input#id_msgid {
    width: 320px;
}

#admin_page label {
    display: inline;
}

#admin_page .title {
    margin-bottom: 0;
}

#admin_page input#id_submit {
    margin-left: 100px;
}

#admin_search_form {
    margin: auto;
    width: 840px;
}

pre.example {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #DDDDDD;
    color: #333333;
    font-family: "Courier New",Courier,monospace;
    font-size: small;
    padding: 5px;
}

/* Results Table
   ========================================================================== */
#admin_search_table td {
    border-bottom: 0;
}

#admin_page th {
    background: url("smoothness/images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #E6E6E6;
    color: black;
}

#result-table {
    table-layout: fixed;
    width: 100%;
}

#result-table td {
    white-space: nowrap;
    text-overflow: ellipsis;
}

#result-table th {
    line-height: 18px;
}

th.col1, th.col2 {
    width: 20px;
}

th.col3 {
    width: 400px;
}

#admin-controls {
    margin-top: 4px;
    margin-bottom: 4px;
}

.admin_ctrl {
    margin-left: 5px;
    margin-right: 35px;
    display: inline;
    font-size: 11px;
}
#admin-results {
    overflow-y: auto;
    overflow-x: hidden;
    height: 200px;
    border: 1px solid #ccc;
    position: relative;
}
/* ==========================================================================
   Help Page
   ========================================================================== */
#help_table {
    border-top: 1px solid #EEE;
    border-right: 1px solid #EEE;
    margin: 2em 0 2em 0;
    width: 100%;
}
#help_table td {
    border-bottom: 1px solid #EEE;
    border-left: 1px solid #EEE;
}

