      <ul>
          <li><a class="btn btn-default" href="{{ msg.list_by_date_url }}">View by Date</a></li>
          <li><a class="btn btn-default" href="{{ msg.list_by_thread_url }}">View by Thread</a></li>
          {% if next_in_list %}
            <li><a class="btn btn-default" href="{{ next_in_list.get_absolute_url }}">Next in List</a></li>
          {% endif %}
          {% if previous_in_list %}
            <li><a class="btn btn-default" href="{{ previous_in_list.get_absolute_url }}">Previous in List</a></li>
          {% endif %}
          {% if next_in_thread %}
            <li><a class="btn btn-default" href="{{ next_in_thread.get_absolute_url }}">Next in Thread</a></li>
          {% endif %}
          {% if previous_in_thread %}
            <li><a class="btn btn-default" href="{{ previous_in_thread.get_absolute_url }}">Previous in Thread</a></li>
          {% endif %}
          {% if next_in_search %}
            <li><a class="btn btn-default" href="{{ next_in_search.get_absolute_url }}/?qid={{ queryid }}">Next in Search</a></li>
          {% endif %}
          {% if previous_in_search %}
            <li><a class="btn btn-default" href="{{ previous_in_search.get_absolute_url }}/?qid={{ queryid }}">Previous in Search</a></li>
          {% endif %}
      </ul>