<div class="btn-toolbar msg-detail-toolbar" role="toolbar" aria-label="...">
    <div class="btn-group" role="group" aria-label="...">
      {% if previous_in_list %}
        <a class="btn btn-default" href="{{ previous_in_list.get_absolute_url }}">
      {% else %}
        <a class="btn btn-default disabled">
      {% endif %}
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </a>
      <a class="btn btn-default" href="{{ msg.list_by_date_url }}">Date</a>
      {% if next_in_list %}
        <a class="btn btn-default" href="{{ next_in_list.get_absolute_url }}">
      {% else %}
        <a class="btn btn-default disabled">
      {% endif %}
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </a>
    </div>
    <div class="btn-group" role="group" aria-label="...">
      {% if previous_in_thread %}
        <a class="btn btn-default" href="{{ previous_in_thread.get_absolute_url }}">
      {% else %}
        <a class="btn btn-default disabled">
      {% endif %}
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </a>
      <a class="btn btn-default" href="{{ msg.list_by_thread_url }}">Thread</a>
      {% if next_in_thread %}
        <a class="btn btn-default" href="{{ next_in_thread.get_absolute_url }}">
      {% else %}
        <a class="btn btn-default disabled">
      {% endif %}
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </a>
    </div>
    {% if query_id %}
      <div class="btn-group" role="group" aria-label="...">
        {% if previous_in_search %}
          <a class="btn btn-default" href="{{ previous_in_search.get_absolute_url }}">
        {% else %}
          <a class="btn btn-default disabled">
        {% endif %}
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
          </a>
        <a class="btn btn-default" href="{{ search_url }}">Search</a>
        {% if next_in_search %}
          <a class="btn btn-default" href="{{ next_in_search.get_absolute_url }}">
        {% else %}
          <a class="btn btn-default disabled">
        {% endif %}
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </a>
      </div>
    {% endif %}
</div>

