/* ==========================================================================
   Core Styles
   ========================================================================== */
/* reset.css */
html {margin:0;padding:0;border:0;}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {display:block;}
body {line-height:1.5;background:white;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;float:none !important;}
table, th, td {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:'';}
blockquote, q {quotes:"" "";}
a img {border:none;}
:focus {outline:0;}

body, html {
    height: 100%;
}

body {
    font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    font-size: 100%;
}

h1 {
    font-size: 1.5em;
}

input[disabled='disabled'] {
    background: none repeat scroll 0 0 #E5ECF9;
}

#header {
    background: #417690;
    color: #ffc;
    overflow: hidden;
}

#header-text {
    font-size: 1.5em;
    padding-left: 1em;
}

#login {
    color: white;
    font-size: 0.85em;
    position: absolute;
    right: 10px;
    top: 8px;
}

#login a:link, #login a:visited {
    color: white;
}

#login a:hover {
    text-decoration: underline;
}

#footer {
    /* background-color: #DDDDDD; 
    background-color: #EEEEFF; */
    background-color: #FFF;
    border-top: 1px solid #CCCCCC;
    bottom: 0;
    color: #888888;
    font-size: 10px;
    height: 15px;
    left: 0;
    /* margin-top: 8px; */
    padding: 6px 0;
    position: fixed;
    right: 0;
    text-align: left;
    z-index: 1;
}

#footer p {
    padding-left: 2.5em;
}

.module {
    background: none repeat scroll 0 0 white;
    border: 1px solid #CCCCCC;
    margin-bottom: 5px;
}

.module h2 {
    background: url("../img/admin/default-bg.gif") repeat-x scroll left top #7CA0C7;
    color: white;
    font-size: 11px;
    font-weight: bold;
    margin: 0;
    padding: 2px 5px 3px;
    text-align: left;
}

.button-group ul {
    list-style-type: none;
    margin: 0;
    padding: 7px;
    text-align: center;
}

.right {
    float: right;
}


table.no-zebra tbody tr:nth-child(even) td,
table.no-zebra tbody tr.even td {
  background: transparent;
}

td, th {
    border-bottom: 1px solid #EEEEEE;
    font-family: "Lucida Grande",Verdana,Arial,sans-serif;
    font-size: 11px;
    line-height: 13px;
    padding: 5px;
    vertical-align: top;
}

a:link, a:visited {
    color: #5b80b2;
    text-decoration: none;
}

a:hover {
    color: #036;
}
/* ==========================================================================
   Action Buttons
   ========================================================================== */
.addlink {
    padding-left: 12px;
    background: url(/static/admin/img/icon_addlink.gif) 0 .2em no-repeat;
}

/* ==========================================================================
   Search v1
   ========================================================================== */
/* 
#search-module {
    width: 80%;
    margin: auto;
}
*/

#search-module {
    background-color: #F2F2E6;
}

div#msg-list-header {
    padding: 5px;
}

/* ==========================================================================
   Search v2
   ========================================================================== */
a#as-show {
    font-size: 0.75em;
}

td.hidden {
    display: none;
}

tr.hilite td {
    background: #DDECFE;
}

table#msg-table {
    cursor: pointer;
    width: 100%;
}

#search-container {
    margin: 150px auto;
    width: 675px;
}

#search-container input#id_q {
    /* font: 1.2em Arial, sans-serif; */
    font-size: 16px;
    font-family: Arial, sans-serif;
    padding: 2px;
    vertical-align: middle;
    width: 35em;
}

#search-header {
    float: right;
}

#sort-header {
    float: left;
}

#basic-search input#id_q {
    width: 28em;
}

input.search_button {
    background-color: #0060A5;
    border-radius: 0 5px 5px 0;
    color: #FFFFFF;
    font-size: 14px;
    height: 30px;
    line-height: 18px;
    padding: 4px 10px 5px;
    /*position: absolute;
    right: 15px; */
    vertical-align: middle;
}

ul#navigation {
    list-style-type: none;
    margin: 10px auto;
    width: 300px;
}

ul#navigation li { 
    border-right: 1px solid #5b80b2;;
    display: inline;
    padding: 0 10px 0 10px;
    font-size: 0.75em;
}

ul#navigation li:last-child { 
    border-right: none;
}

/* ==========================================================================
   Position Layout
   ========================================================================== */
#adv-search-container {
    margin: 0 auto;
    width: 65%;
}

#advanced-search-table td {
    border-bottom: 0;
}

#container {
    height: 100%;
    position: absolute;
    width: 100%;
}

#content {
    bottom: 27px;
    left: 5em;
    min-width: 600px;
    position: absolute;
    right: 5em;
    top: 3em;
}

#msg-panes {
    bottom: 0;
    font-family: "DejaVu Sans Mono",Monaco,"Courier New",Courier;
    font-family: Tahoma,Verdana,Arial,sans-serif;
    left: 0;
    position: absolute;
    right: 0;
    top: 2.5em;
}

#list-pane {
    height: 250px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

#msg-list {
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    bottom: 27px;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 0;
}

#msg-list-controls {
    border: 1px solid #CCCCCC;
    font-size: 0.75em;
    left: 0;
    padding: 3px 1em 3px 1em;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 20px;
}

#splitter-pane {
    /* background: #aaa; */
    cursor: row-resize;
    height: 5px;
    left: 0;
    position: absolute;
    right: 0;
    top: 250px;
    z-index: 1;
}

#view-pane {
    border: 1px solid #CCCCCC;
    bottom: 0;
    font-size: 0.75em;
    left: 0;
    overflow: auto;
    padding: 1em;
    position: absolute;
    right: 0;
    top: 256px;
}

#view-pane h2 {
    font-size: 1.5em;
}

#msg-link {
    /* background: #FFF4C8; */
    background: #FFF;
    border-left: 1px solid #CCC;
    border-top: 1px solid #CCC;
    bottom: 28px;
    padding: 2px 5px;
    position: fixed;
    right: 96px;
    z-index: 2;
}

#msg-body {
    /* margin-top: 0.5em; */
}

/* Source: http://snipplr.com/view/10979/css-cross-browser-word-wrap */
.wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}


/* ==========================================================================
   Search Results
   ========================================================================== */

/*   
.ascending {
    background: url(/static/admin/img/sorting-icons.gif) -5px -50px no-repeat;
}

table thead th.sorted .sortoptions a.ascending:hover {
    background: url(../img/sorting-icons.gif) -5px -72px no-repeat;
}

table thead th.sorted .sortoptions a.descending {
    background: url(../img/sorting-icons.gif) -5px -94px no-repeat;
}

table thead th.sorted .sortoptions a.descending:hover {
    background: url(../img/sorting-icons.gif) -5px -115px no-repeat;
}
*/

.small-button {
   font-size: .8em;
}

.ui-button-text {
   /* font-size: inherit !important; */
   font-size: 11px;
}

input.hidden-submit {
    left: -9999px;
    position: absolute;
}

.row-selected {
    background-color: #DDECFE;
}

.pipe {
    border-right: 1px solid #DDDDDD;
    margin-right: 0.5em;
    padding-right: 0.8em;
}

.darkgray {
    color: #666666;
}

/* ==========================================================================
   Advanced Search
   ========================================================================== */
#adv-search-container {
    margin: 0 auto;
    /* width: 65%; */
    width: 760px;
}

#adv-search-container h1 {
    margin-bottom: 2em;
    text-align: center;
}

#advanced-search-table td {
    border-bottom: 0;
}

#advanced-search input#id_q {
    width: 609px;
}

#advanced-search input.date {
    width: 107px;
}

ul#email_list_list li {
    /* background-color: #6699CC; */
    background-color: #87CEFA;
    color: #ffffff;
    display: inline;
    list-style-type: none;
    margin: 3px 3px 3px 0;
    padding: 2px 5px;
}

a.listlink:link, a.listlink:visited {
    color: #fff;
    text-decoration: none;
}

.list-fieldset {
    border: 1px solid #cccccc;
    margin-left: 75px;
    margin-right: 71px;
    padding: 3px;
}

#list-fieldset2 {
    margin-left: 85px;
    margin-right: 162px;
}

#delete-icon {
    margin: 0 3px 0 3px;
}

/* ==========================================================================
   Advanced Search 2
   ========================================================================== */

#adv-search {
    margin-bottom: 3em;
}

#adv-search input {
    margin: 0.5em 0;
}

#adv-search input.operand {
    width: 42em;

}
#adv-search select.parameter {
    margin: 0.5em 0;
}

#adv-search input#id_q {
    width: 100%;
    background: #E5ECF9;
}

hr {
    color: #CCC;
    background-color: #CCC;
}

.removable a.remove_btn, .removable a.not_remove_btn {
    display: inline;
}

a.remove_btn, a.not_remove_btn {
    display: none;
    height: 14px;
    margin: 0.8em 0.25em;
    /* position: absolute; */
    width: 14px;
}

a.addParamBtn {
    bottom: 6px;
    position: absolute;
    right: 25px;
}

fieldset#query_parts {
    position: relative;
}

fieldset#not_parts {
    position: relative;
}

label, .label {
    display: block;
    font-weight: bold;
    margin: 1.5em 0 0.25em;
}

table.clean td {
    padding: 5px 5px 5px 0;
    vertical-align: middle;
}
    
/* ==========================================================================
   Browse
   ========================================================================== */
a.private:visited, a.private:link {
    color: #FF7373;
}

a.private:hover {
    color: #FF4040;
}

#content2 {
    bottom: 27px;
    left: 0;
    min-width: 600px;
    position: absolute;
    right: 0;
    top: 3em;
}

h1.title {
    margin-bottom: 2em;
    text-align: center;
}

div#browse_top h3 {
    margin: 1em 0 1em 0;
}

div#browse_top {
    margin: 0 auto 1em;
    width: 960px;
}

div#browse_top hr {
    background-color: #F8F8F8;
    color: #F8F8F8;
}

div#browse_top label {
    display: inline;
    font-weight: normal;
}

#id_browse_form {
    margin-bottom: 0.75em;
}

ul.browse_list li {
    list-style-type: none;
    white-space: nowrap;
}

div.browse_column {
    float: left;
    margin-bottom: 5em;
    padding-right: 1em;
    width: 170px;
}

div#browse_columns {
    width: 960px;
    margin: 0 auto;
}

#browse_help {
    margin-left: 2em;
    font-size: small;
}

/* ==========================================================================
   Detail
   ========================================================================== */
#msg-detail pre {
    font-family: monospace;
    margin-top: 1em;
}

#subject {
    font-weight: bold;
}

/* ==========================================================================
   Combined Advance Search CSS
   ========================================================================== */
.adv-search td, .adv-search th {
    font-size: 12px;
}

.adv-search {
    font-size: 12px;
}

.help_text {
    padding-top: 3px;
    color: #909090;
}

.defaultTextActive {
    color: #909090;
}

