#header {
    background: #417690;
    color: white;
    height: 40px;
}

.sidebar {
    background-color: white;
    border: 0;
    color: #808080;
    margin-top: 41px;
    position: absolute;
    width: 250px;
}

#search-filters ul {
    list-style-type: none;
    margin-bottom: 18px;
}

.filter-options li {
    list-style: none outside none;
}

#search-filters h4 {

}

.left-controls {
    float: left;
}

.control-row .search-form {
    display: inline-block;
    float: left;
}

#page-wrapper {
    position: inherit;
    margin: 0 0 0 250px;
    border-left: 1px solid #e7e7e7;
}

@media screen and (max-width:767px){
   .sidebar {display: none;}
   
   #page-wrapper {margin: 0 0 0 0;}
}

.table>tbody>tr>td.response {
    padding: 5px 5px 5px 15px;
}

#-list-pane {
    height: 230px;
    overflow: auto;
}

.-thead.fixed-header tr {
    display: block
}

tbody.fixed-header {
    border-top: 1px solid #DDD;
}

tbody.fixed-header tr:first-child td {
    border-top: 0;
}

#msg-table {
    table-layout: fixed;
}

#msg-table td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#msg-list-controls {
    border: 1px solid #DDD;
    height: 28px;
    padding: 5px 15px 5px 15px;
}

#message-panes {
}

#splitter-pane {
    cursor: row-resize;
    height: 5px;
}

#view-pane {
    overflow: auto;
}

/* Fixed Header CSS */
.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  overflow-x: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}

/* Bootstrap overrides */
#msg-list-navbar {
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-left: 0;
}