<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Search IETF mail list archives">
    <title>{{ subject }}</title>

    

    <link rel="stylesheet" type="text/css" href="https://static.ietf.org/mailarchive/2.39.1/fontawesome/css/all.css">
    <link rel="stylesheet" type="text/css" href="https://static.ietf.org/mailarchive/2.39.1/mlarchive/css/bootstrap_custom.css">
    <link rel="stylesheet" type="text/css" href="https://static.ietf.org/mailarchive/2.39.1/mlarchive/css/styles.css">

    

    

</head>

<body>

<!-- Container -->
<div id="container">

    <header class="navbar navbar-expand-md navbar-dark fixed-top px-3 py-0">
        <div class="container-fluid">
            <a class="navbar-brand p-0" href="/">
                <img alt="IETF Logo" src="https://static.ietf.org/mailarchive/2.39.1/mlarchive/images/ietflogo-small-transparent.png">
                <span class="navbar-text d-none d-md-inline-block">
                
                Mail Archive
                
                </span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-main" aria-controls="navbar-main" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            
            <div id="navbar-main" class="navbar-header collapse navbar-collapse">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item d-none d-lg-inline">
                        <a class="nav-link" href="https://www.ietf.org/search/">Search www.ietf.org</a>
                    </li>
                    <li class="nav-item d-none d-lg-inline">
                        <a class="nav-link" href="https://datatracker.ietf.org">Search Datatracker</a>
                    </li>
		            <li class="nav-item d-none d-lg-inline navbar-text pipe"></li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbar-help" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Help</a>
                        <div class="dropdown-menu" aria-labelledby="navbar-help">
                            <a class="dropdown-item" href="/arch/help/">Search Syntax</a>
                            <a class="dropdown-item" href="/docs/api-reference/">API Reference</a>
                        </div>
                    </li>

                    
                    
                    
                    
                    
                    <li class="nav-item dropdown me-2">
                        <a id="nav-settings-anchor" class="nav-link dropdown-toggle" href="#" id="navbar-settings" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings</a>
                        <ul class="dropdown-menu" aria-labelledby="navbar-settings">
                            <li><a id="toggle-static" class="dropdown-item" href="#">Turn Static Mode On</a></li>
                        </ul>
                    </li>
                    

                    
                    <li class="nav-item">
                        
                            <a class="nav-link" href="/oidc/authenticate/" rel="nofollow">Sign in</a>
                        
                    </li>
                    
                </ul>
            </div> <!-- navbar-header -->
            
        </div> <!-- container-fluid -->
    </header>

            <!-- 
            <noscript>
                <p class="navbar-text"><small>Enable Javascript for full functionality.</small></p>
            </noscript>
            -->

        <!-- Django Messages -->
        


    <!-- Content -->
    <div id="content">
        

<div class="container-fluid">

  <nav class="navbar navbar-expand-md navbar-light bg-light rounded shadow-sm navbar-msg-detail my-2">
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#id-navbar-top" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </button>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-detail px-5" id="id-navbar-top">
      <ul class="navbar-nav">
        <li class="nav-item" title="Previous by date">
          
            <a class="nav-link previous-in-list" href="{{{ previous_in_list }}}" aria-label="previous in list">
          
            <span class="fa fa-chevron-left" aria-hidden="true"></span>
            </a>
        </li>
        <li class="nav-item" title="Date Index">
          <a class="nav-link date-index" href="{{{ date_index_url }}}">Date</a>
        </li>
        <li class="nav-item" title="Next by date">
          
            <a class="nav-link next-in-list" href="{{{ next_in_list }}}" aria-label="next in list">
          
            <span class="fa fa-chevron-right" aria-hidden="true"></span>
            </a>
        </li>
        <li class="nav-item" title="Previous in thread">
          
            <a class="nav-link previous-in-thread" href="{{{ previous_in_thread }}}" aria-label="previous in thread">
          
            <span class="fa fa-chevron-left" aria-hidden="true"></span>
            </a>
        </li>
        <li class="nav-item" title="Thread Index">
          <a class="nav-link thread-index" href="{{{ thread_index_url }}}">Thread</a>
        </li>
        <li class="nav-item" title="Next in thread">
          
            <a class="nav-link next-in-thread" href="{{{ next_in_thread }}}" aria-label="next in thread">
          
            <span class="fa fa-chevron-right" aria-hidden="true"></span>
            </a>
        </li>
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div><!-- /.navbar-collapse -->
</nav>

  
  <div class="row">

    <div class="msg-detail col-md-8 pt-3" data-static-date-index-url="{{{ static_date_index_url }}}" data-static-thread-index-url="{{{ static_thread_index_url }}}" data-date-index-url="{{{ date_index_url }}}" data-thread-index-url="{{{ thread_index_url }}}">
      
      {{{ body }}}

            <div id="message-thread">

        {{{ thread_snippet }}}

      </div> <!-- message-thread -->


      <div class="d-flex justify-content-center">
        <ul id="navigation" class="list-inline">
          <li class="list-inline-item">
            <a id="toggle-nav" class="toggle js-off" href="#">Hide Navigation Bar</a>
          </li>
          
        </ul>
      </div>
          
    </div> <!-- msg-detail -->

    <div class="msg-aside col-md-4"></div>
</div> <!-- row -->

    <div class="btn-toolbar msg-detail-toolbar" role="toolbar" aria-label="...">
    <div class="btn-group" role="group" aria-label="...">
      
        <a class="btn btn-default" href="{{{ previous_in_list }}}">
      
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </a>
      <a class="btn btn-default" href="">Date</a>
      
        <a class="btn btn-default" href="{{{ next_in_list }}}">
      
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </a>
    </div>
    <div class="btn-group" role="group" aria-label="...">
      
        <a class="btn btn-default" href="{{{ previous_in_thread }}}">
      
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </a>
      <a class="btn btn-default" href="">Thread</a>
      
        <a class="btn btn-default" href="{{{ next_in_thread }}}">
      
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </a>
    </div>
    
</div>



    <nav class="navbar navbar-expand-md navbar-light bg-light rounded shadow-sm navbar-msg-detail my-2">
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#id-navbar-bottom" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </button>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-detail px-5" id="id-navbar-bottom">
      <ul class="navbar-nav">
        <li class="nav-item" title="Previous by date">
          
            <a class="nav-link previous-in-list" href="{{{ previous_in_list }}}" aria-label="previous in list">
          
            <span class="fa fa-chevron-left" aria-hidden="true"></span>
            </a>
        </li>
        <li class="nav-item" title="Date Index">
          <a class="nav-link date-index" href="{{{ date_index_url }}}">Date</a>
        </li>
        <li class="nav-item" title="Next by date">
          
            <a class="nav-link next-in-list" href="{{{ next_in_list }}}" aria-label="next in list">
          
            <span class="fa fa-chevron-right" aria-hidden="true"></span>
            </a>
        </li>
        <li class="nav-item" title="Previous in thread">
          
            <a class="nav-link previous-in-thread" href="{{{ previous_in_thread }}}" aria-label="previous in thread">
          
            <span class="fa fa-chevron-left" aria-hidden="true"></span>
            </a>
        </li>
        <li class="nav-item" title="Thread Index">
          <a class="nav-link thread-index" href="{{{ thread_index_url }}}">Thread</a>
        </li>
        <li class="nav-item" title="Next in thread">
          
            <a class="nav-link next-in-thread" href="{{{ next_in_thread }}}" aria-label="next in thread">
          
            <span class="fa fa-chevron-right" aria-hidden="true"></span>
            </a>
        </li>
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div><!-- /.navbar-collapse -->
</nav>


</div>


    </div>
    <!-- END Content -->


    
  
    
  <div class="footer scrolling">
      <p class="small text-center">v2.0.0-dev | <a href="https://github.com/ietf-tools/mailarch/issues">Report a Bug</a> | <a href="mailto:tools-help@ietf.org">By Email</a> | <a href="https://status.ietf.org">System Status</a></p>
  </div>

  


</div> <!-- END Container -->



<script src="https://static.ietf.org/mailarchive/2.39.1/jquery/js/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
<script src="https://static.ietf.org/mailarchive/2.39.1/bootstrap-5.3.8-dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://static.ietf.org/mailarchive/2.39.1/jquery.cookie/jquery.cookie.js"></script>
<script type="text/javascript" src="https://static.ietf.org/mailarchive/2.39.1/mlarchive/js/base.js"></script>

<script type="text/javascript" src="https://static.ietf.org/mailarchive/2.39.1/jquery.cookie/jquery.cookie.js"></script>
<script type="text/javascript" src="https://static.ietf.org/mailarchive/2.39.1/mlarchive/js/detail.js"></script>


<!-- debug_toolbar_here -->
</body>
</html>
