{% extends "base.html" %}


{% block content %}

<div class="card text-center text-white bg-primary mx-auto mt-5 w-50">
  <div class="card-body">
    <h1 class="display-1">403</h1>
    
    <h5 class="card-title"><i class="fa fa-lock fa-lg mx-3"></i>Access Denied</h5>
    <p>The page you are trying to access is restricted.
    {% if not user.is_authenticated %}<br />You may need to sign in to access.{% endif %}
    </p>
  </div>
</div>

{% if not user.is_authenticated %}
<div class="d-flex justify-content-center mt-5">
  <h5><a href="{% url 'login' %}">Sign In</a></h5>
</div>
{% endif %}

{% endblock %}
