<!DOCTYPE html> {% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Mail Archive{% endblock %}</title>

    {% block prestyle %}{% endblock %}

    <link rel="stylesheet" href="{% static 'bootstrap4/css/bootstrap_custom.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'mlarchive/css/styles.css' %}" type="text/css">

    {% block extrastyle %}{% endblock %}

    <script src="https://use.fontawesome.com/616427ed62.js"></script>
    {% block extrahead %}{% endblock %}

</head>

<body>

<!-- Container -->
<div id="container">

    <header class="navbar navbar-expand navbar-dark fixed-top px-3 py-0{% if server_mode != 'production' %} navbar-dev{% endif %}" style="background-color:#337ab7;">
        <div class="container-fluid">
            <a class="navbar-brand p-0" href="/">
                <img alt="IETF Logo" src="{% static 'mlarchive/images/ietflogo-small-transparent.png' %}">
                <span class="navbar-text d-none d-md-inline-block">
                {% if server_mode and server_mode == "production" %}
                Mail Archive
                {% else %}
                <b><i>Dev mode</i></b>
                {% endif %}
                </span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main" aria-controls="navbar-main" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            {% if not request.resolver_match.url_name == "django.contrib.auth.views.login" %}
            <div id="navbar-main" class="navbar-header float-right collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "archive_help" %}">Help</a>
                    </li>
                    {% if user.is_superuser %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbar-admin" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
                        <div class="dropdown-menu" aria-labelledby="navbar-admin">
                            <a class="dropdown-item" href="{% url "archive_admin" %}">Remove Messages</a>
                            <a class="dropdown-item" href="{% url "archive_admin_guide" %}">Guide</a>
                            <a class="dropdown-item" href="{% url "archive_admin_console" %}">Console</a>
                        </div>
                    </li>
                    {% endif %}
                    {% if static_mode_enabled %}
                    <li class="nav-item dropdown mr-2">
                        <a id="nav-settings-anchor" class="nav-link dropdown-toggle" href="#" id="navbar-settings" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings</a>
                        <div class="dropdown-menu" aria-labelledby="navbar-settings">
                            <a id="toggle-static" class="dropdown-item" href="#">Turn Static Mode On</a>
                        </div>
                    </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li class="nav-item navbar-text pipe">{{ user}}</li>
                    <!-- <span class="navbar-text pipe d-none d-md-inline-block">{{ user }}</span> -->
                    <li class="nav-item"> 
                        <a class="nav-link" href="{% url "archive_logout" %}">Sign out</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="http://{{ request.get_host }}/accounts/login/?next={{request.get_full_path|urlencode}}" rel="nofollow">Sign in</a>
                    </li>
                    {% endif %}
                </ul>
            </div> <!-- navbar-header -->
            {% endif %}
        </div> <!-- container-fluid -->
    </header>

            <!-- 
            <noscript>
                <p class="navbar-text"><small>Enable Javascript for full functionality.</small></p>
            </noscript>
            -->

        <!-- Django Messages -->
        {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}


    <!-- Content -->
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <!-- END Content -->


    {% block footer %}
        {% include "includes/footer.html" %}
    {% endblock %}

</div> <!-- END Container -->

{% block modal %}{% endblock %}

<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

<script type="text/javascript" src="{% static 'jquery.cookie/jquery.cookie.js' %}"></script>
<script type="text/javascript" src="{% static 'mlarchive/js/base.js' %}"></script>
{% block js %}{% endblock %}

<!-- debug_toolbar_here -->
</body>
</html>
