<!DOCTYPE html> {% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Search IETF mail list archives">
    <title>{% block title %}IETF Mail List Archives{% endblock %}</title>

    {% block prestyle %}{% endblock %}

    <link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/all.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mlarchive/css/bootstrap_custom.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mlarchive/css/styles.css' %}">

    {% block extrastyle %}{% endblock %}

    {% block extrahead %}{% endblock %}

</head>

<body>

<!-- Container -->
<div id="container">

    <header class="navbar navbar-expand-md navbar-dark fixed-top px-3 py-0{% if server_mode != 'production' %} navbar-dev{% endif %}">
        <div class="container-fluid">
            <a class="navbar-brand p-0" href="/">
                <img alt="IETF Logo" src="{% static 'mlarchive/images/ietflogo-small-transparent.png' %}">
                <span class="navbar-text d-none d-md-inline-block">
                {% if server_mode and server_mode == "production" %}
                Mail Archive
                {% else %}
                <b><i>Dev mode</i></b>
                {% endif %}
                </span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-main" aria-controls="navbar-main" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            {% if not request.resolver_match.url_name == "django.contrib.auth.views.login" %}
            <div id="navbar-main" class="navbar-header collapse navbar-collapse">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.ietf.org/search/">Search www.ietf.org</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://datatracker.ietf.org">Search Datatracker</a>
                    </li>
		    <li class="nav-item navbar-text pipe"></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbar-help" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Help</a>
                        <div class="dropdown-menu" aria-labelledby="navbar-help">
                            <a class="dropdown-item" href="{% url "archive_help" %}">Search Syntax</a>
                            <a class="dropdown-item" href="{% url "docs_api_reference" %}">API Reference</a>
                        </div>
                    </li>

                    {% if user.is_superuser or user.is_staff %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbar-admin" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
                        <div class="dropdown-menu" aria-labelledby="navbar-admin">
                            <a class="dropdown-item" href="{% url "archive_admin_console" %}">Console</a>
                            {% if user.is_superuser %}
                                <a class="dropdown-item" href="{% url "archive_admin" %}">Remove Messages</a>
                                <a class="dropdown-item" href="{% url "archive_admin_guide" %}">Guide</a>
                            {% endif %}
                        </div>
                    </li>
                    {% endif %}
                    
                    {% if static_mode_enabled %}
                    <li class="nav-item dropdown me-2">
                        <a id="nav-settings-anchor" class="nav-link dropdown-toggle" href="#" id="navbar-settings" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings</a>
                        <ul class="dropdown-menu" aria-labelledby="navbar-settings">
                            <li><a id="toggle-static" class="dropdown-item" href="#">Turn Static Mode On</a></li>
                        </ul>
                    </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li class="nav-item navbar-text pipe">{{ user}}</li>
                    <li class="nav-item"> 
                        <form action="{% url 'oidc_logout' %}" method="post">
                            {% csrf_token %}
                            <input class="nav-link btn-link-custom" type="submit" value="Logout">
                        </form>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'oidc_authentication_init' %}" rel="nofollow">Sign in</a>
                    </li>
                    {% endif %}
                </ul>
            </div> <!-- navbar-header -->
            {% endif %}
        </div> <!-- container-fluid -->
    </header>

            <!-- 
            <noscript>
                <p class="navbar-text"><small>Enable Javascript for full functionality.</small></p>
            </noscript>
            -->

        <!-- Django Messages -->
        {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}


    <!-- Content -->
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <!-- END Content -->


    {% block footer %}
        {% include "includes/footer.html" %}
    {% endblock %}

</div> <!-- END Container -->

{% block modal %}{% endblock %}

<script src="{% static 'jquery/js/jquery-3.6.0.min.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'bootstrap-5.1.1-dist/js/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'jquery.cookie/jquery.cookie.js' %}"></script>
<script type="text/javascript" src="{% static 'mlarchive/js/base.js' %}"></script>
{% block js %}{% endblock %}

<!-- debug_toolbar_here -->
</body>
</html>
