{
    "FILENAME": "secrets.json",
    "SECRET_KEY": "k6y*(vu8-#zp(iv4@npz+8ahq*7bat_iot+n6oul$m3k!gy0hw",
    "DATABASES_NAME": "db",
    "DATABASES_USER": "root",
    "DATABASES_PASSWORD": "example",
    "HTAUTH_PASSWD_FILENAME": "htpasswd",
    "DATATRACKER_PERSON_ENDPOINT_API_KEY": ""
}
