{
    "FILENAME": "secrets.json",
    "SECRET_KEY": "k6y*(vu8-#zp(iv4@npz+8ahq*7bat_iot+n6oul$m3k!gy0hw",
    "DATABASES_NAME": "archive",
    "DATABASES_USER": "root",
    "DATABASES_PASSWORD": "franticmarble",
    "HTAUTH_PASSWD_FILENAME": "htpasswd",
    "INTERNAL_IPS":[ "127.0.0.1" ],
    "DATATRACKER_PERSON_ENDPOINT_API_KEY": ""
}
